<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{inc/admin/layout.html}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin User</title>
        <script src="/js/admin/user/detail.js" defer></script>
    </head>
    <body>
        <main layout:fragment="main" class="n-panel flex-direction:column n-main-panel">
            <section class="m:2">
                <h1 class="d:none">회원정보</h1>
                <div class="d:flex fw:3 fs:4 mb:1 ai:end">
                    <div class="fs:title flex-grow:1">회원정보</div>
                    <div class="page-back text-align:end">
                        <a href="list" class="n-btn n-btn-type:outline px:4">목록으로</a>
                    </div>
                </div>
                <div class="bd-top bd-bottom bd-w:2">
                    <div class="d:flex ai:center bd-bottom">
                        <div class="w:2 py:2 fs:1 text-align:center bg-color:base-2">회원정보</div>
                        <div class="px:2 fs:1" th:text="${user.id}">123</div>
                    </div>
                    <div class="d:flex ai:center bd-bottom">
                        <div class="w:2 py:2 fs:1 text-align:center bg-color:base-2">아이디</div>
                        <div class="px:2 fs:1" th:text="${user.email}">withbooks@naver.com</div>
                    </div>
                    <div class="d:flex ai:center bd-bottom">
                        <div class="w:2 py:2 fs:1 text-align:center bg-color:base-2">닉네임</div>
                        <div class="px:2 fs:1" th:text="${user.nickname}">뉴렉이</div>
                    </div>
                    <div class="d:flex ai:center bd-bottom">
                        <div class="w:2 py:2 fs:1 text-align:center bg-color:base-2">등록일</div>
                        <div class="px:2 fs:1" th:text="${#temporals.format(user.joinDate, 'yyyy-MM-dd')}">2023-01-01</div>
                    </div>
                    <div class="d:flex">
                        <div class="w:2 py:2 fs:1 text-align:center bg-color:base-2">상태</div>
                        <div class="d:flex ai:center px:2">
                            <div
                                class="fs:1 mr:3"
                                th:text="${user.withdrawStatus == 1 ? '정상' : user.withdrawStatus == 2 ? '탈퇴' : '정지' }"
                                th:classappend="${user.withdrawStatus == 2 ? 'color:base-4' : user.withdrawStatus == 3 ? 'color:accent-1' : '' }"
                            >
                                정상
                            </div>
                            <div class="bg-color:main-2 color:main-5 px:3 py:1 fs:1 bd-radius:6 cursor:pointer"><span>변경</span></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="m:2 mt:5">
                <h1 class="d:none">콘텐츠</h1>
                <div>
                    <div class="fs:4 fw:3 mb:2">북쇼츠 리스트</div>
                    <div class="bd-top bd-bottom bd-w:2">
                        <div class="d:flex ai:center bg-color:base-2 py:2">
                            <div class="fw:3 fs:2 w:1p text-align:center fs:2">번호</div>
                            <div class="fw:3 fs:2 w:2p text-align:center fs:2">아이디</div>
                            <div class="fw:3 fs:2 w:5p text-align:center fs:2">내용</div>
                            <div class="fw:3 fs:2 w:2p text-align:center fs:2">등록일</div>
                            <div class="fw:3 fs:2 w:1p text-align:center fs:2">좋아요수</div>
                            <div class="fw:3 fs:2 w:1p text-align:center fs:2">댓글수</div>
                        </div>
                        <div>
                            <div class="bd-top" th:each="l,i : ${list}">
                                <div class="d:flex ai:center py:2">
                                    <div class="fs:2 w:1p text-align:center" th:text="${i.count}">1</div>
                                    <div class="fs:2 w:2p text-align:center" th:text="${l.id}">1335</div>
                                    <div class="fs:2 w:5p text-align:center ln-clamp:1" th:utext="${l.content}">이 북로그는 어쩌고저쩌고어쩌고저쩌고어쩌고저쩌고어쩌고저쩌고</div>
                                    <div class="fs:2 w:2p text-align:center" th:text="${#temporals.format(l.regDate, 'yyyy-MM-dd')}">2024-01-01</div>
                                    <div class="fs:2 w:1p text-align:center" th:text="${l.likeCnt}">134</div>
                                    <div class="fs:2 w:1p text-align:center" th:text="${l.commentCnt}">30</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="my:8">
                <h1 class="d:none">페이저</h1>
                <ul
                    class="n-pager"
                    style="display: flex; justify-content: center"
                    th:if="${list}"
                    th:with="page =  ${param.p} eq null ? 1 : ${{param.p}}
                        , temp = (${page} - 1) / 5
                        , startnum = ${T(java.lang.Math).floor(temp)} * 5 + 1
                        ,temp1 = ${{count}}/6
                        ,lastnum=${count} mod 6 > 0 ? ${T(java.lang.Math).floor(temp1)} + 1 : ${T(java.lang.Math).floor(temp1)}
                        ,endnum=${startnum+4} lt ${lastnum} ? ${startnum+4} : ${lastnum}
                        "
                >
                    <li>
                        <span class="fs:1" th:if="${page} lt 6">이전</span>
                        <a class="fs:1" th:if="${page} ge 6" href="list?p=1" th:href="@{./detail(id=${param.id},p=${startnum}-1)}">이전</a>
                    </li>
                    <li th:each="n : ${#numbers.sequence(startnum, endnum)}" th:class="${{param.p}} eq ${n} ? 'active' : ''">
                        <span th:if="${n} eq ${{param.p}}" th:text="${n}"></span>
                        <a class="fs:1" href="list?p=1" th:if="${n} ne ${{param.p}}" th:href="@{./detail(id=${param.id},p=${n})}" th:text="${n}">1</a>
                    </li>
                    <li>
                        <span class="fs:1" th:if="${startnum+4} ge ${lastnum}">다음</span>
                        <a class="fs:1" href="list?p=6" th:if="${startnum+4} lt ${lastnum}" th:href="@{./detail(id=${param.id},p=${startnum}+5)}">다음</a>
                    </li>
                </ul>
            </section>
        </main>
    </body>
</html>
