<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{inc/admin/layout.html}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin User</title>
        <script src="/js/admin/user/list.js" defer></script>
    </head>
    <body>
        <main layout:fragment="main" class="n-panel flex-direction:column n-main-panel">
            <section class="mx:2">
                <h1 class="fw:3 fs:4 my:2">검색조건</h1>
                <div>
                    <form action="list" method="get">
                        <div class="d:flex">
                            <div class="fl-grow:1 bd-top bd-bottom bd-w:2">
                                <div class="d:flex">
                                    <div class="d:flex">
                                        <div class="text-align:center fw:3 w:2 py:3 bg-color:base-2">회원번호</div>
                                        <label class="w:6 mx:2 my:2 px:2 bd bd-radius:3">
                                            <input class="h:100p w:100p" type="number" name="id" th:value="${id}" />
                                        </label>
                                    </div>
                                    <div class="d:flex fl-grow:1">
                                        <div class="text-align:center fw:3 w:2 py:3 bg-color:base-2">닉네임</div>
                                        <label class="fl-grow:1 mx:2 my:2 px:2 bd bd-radius:3">
                                            <input class="h:100p w:100p" type="text" name="nickname" th:value="${nickname}" />
                                        </label>
                                    </div>
                                </div>
                                <div class="d:flex fl-grow:1 bd-top bd-w:2">
                                    <div class="text-align:center fw:3 w:2 py:3 bg-color:base-2">아이디</div>
                                    <label class="fl-grow:1 mx:2 my:2 px:2 bd bd-radius:3">
                                        <input class="h:100p w:100p" type="text" name="email" placeholder="이메일" th:value="${email}" />
                                    </label>
                                </div>
                                <div class="d:flex bd-top bd-w:2">
                                    <div class="d:flex">
                                        <div class="text-align:center fw:3 w:2 py:3 bg-color:base-2">출생연도</div>
                                        <label class="d:flex ai:center w:6 mx:2 my:2 px:2 bd bd-radius:3">
                                            <input class="h:100p w:100p" type="number" name="birthyear" id="birthyear" value="1900" th:value="${#strings.isEmpty(birthyear)} ? 1999 : ${{birthyear}}" />
                                        </label>
                                    </div>
                                    <div class="d:flex fl-grow:1">
                                        <div class="text-align:center fw:3 w:2 py:3 bg-color:base-2">성별</div>
                                        <div class="d:flex ai:center ml:2">
                                            <label class="mr:5">
                                                <input type="radio" name="gender" value="2" checked />
                                                전체
                                            </label>
                                            <label class="mr:5">
                                                <input type="radio" name="gender" value="1" th:checked="${{gender}}== 1 ? true" />
                                                여성
                                            </label>
                                            <label class="mr:5">
                                                <input type="radio" name="gender" value="0" th:checked="${{gender}} == 0 ? true" />
                                                남성
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d:flex bd-top bd-w:2">
                                    <div class="d:flex">
                                        <div class="text-align:center fw:3 w:2 py:3 bg-color:base-2">등록일</div>
                                        <div class="d:flex ai:center w:6 mx:2">
                                            <div>
                                                <input type="date" />
                                            </div>
                                            <div>&nbsp;~&nbsp;</div>
                                            <div>
                                                <input type="date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d:flex fl-grow:1">
                                        <div class="text-align:center fw:3 w:2 py:3 bg-color:base-2">상태</div>
                                        <div class="d:flex ai:center ml:2">
                                            <label class="mr:5">
                                                <input type="radio" name="status" value="3" checked />
                                                전체
                                            </label>
                                            <label class="mr:5">
                                                <input type="radio" name="status" value="0" th:checked="${{status}} == 0 ? true" />
                                                정상
                                            </label>
                                            <label class="mr:5">
                                                <input type="radio" name="status" value="1" th:checked="${{status}} == 1 ? true" />
                                                탈퇴
                                            </label>
                                            <label class="mr:5">
                                                <input type="radio" name="status" value="2" th:checked="${{status}} == 2 ? true" />
                                                정지
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-align:end mt:2 mr:2">
                            <button class="reset-btn n-btn">초기화</button>
                            <button class="search-btn n-btn">검색</button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="mx:2 mt:10">
                <h1 class="d:none">검색 결과 리스트</h1>
                <div>
                    <div class="d:flex mb:1 ai:center">
                        <div class="fw:3 fs:4 mr:3">회원 목록</div>
                        <div class="fl-grow:1 d:flex">
                            <div class="color:base-4">검색 결과:&nbsp;</div>
                            <div class="color:base-4">30<span class="color:base-4">건</span></div>
                        </div>
                        <div class="d:flex ai:center bd bd-radius:5 px:3 py:1">20개씩</div>
                    </div>
                    <div class="d:flex ai:center">
                        <label>
                            <input type="checkbox" />
                        </label>
                        <div class="fw:3 w:1p text-align:center">번호</div>
                        <div class="fw:3 w:1p text-align:center">회원번호</div>
                        <div class="fw:3 w:4p text-align:center">아이디(이메일)</div>
                        <div class="fw:3 w:2p text-align:center">닉네임</div>
                        <div class="fw:3 w:1p text-align:center">출생연도</div>
                        <div class="fw:3 w:1p text-align:center">성별</div>
                        <div class="fw:3 w:1p text-align:center">등록일</div>
                        <div class="fw:3 w:1p text-align:center">상태</div>
                    </div>
                    <div class="d:flex ai:center">
                        <label>
                            <input type="checkbox" />
                        </label>
                        <div class="w:1p text-align:center">1</div>
                        <div class="w:1p text-align:center">123</div>
                        <div class="w:4p text-align:center">admin@withbooks.kr</div>
                        <div class="w:2p text-align:center">위북이</div>
                        <div class="w:1p text-align:center">1999</div>
                        <div class="w:1p text-align:center">여성</div>
                        <div class="w:1p text-align:center">2024-01-01</div>
                        <div class="w:1p text-align:center">정상</div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
