<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{inc/admin/layout.html}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin User</title>
        <script src="/js/admin/user/list.js" defer></script>
    </head>
    <body>
        <main layout:fragment="main" class="n-panel flex-direction:column n-main-panel">
            <section id="search-form" class="mx:2">
                <h1 class="fw:3 fs:4 my:2">검색조건</h1>
                <div>
                    <form action="list" method="get">
                        <div class="d:flex">
                            <div class="fl-grow:1 bd-top bd-bottom bd-w:2">
                                <div class="d:flex">
                                    <div class="d:flex">
                                        <div class="d:flex jc:center ai:center fw:3 fs:1 w:2 py:2 bg-color:base-2">회원번호</div>
                                        <label class="d:flex jc:center w:5 mx:2 my:1 px:2 bd bd-radius:3">
                                            <input class="w:100p fs:1" type="number" name="id" th:value="${param.id}" min="1" />
                                        </label>
                                    </div>
                                    <div class="d:flex fl-grow:1">
                                        <div class="d:flex jc:center ai:center fw:3 w:2 fs:1 py:2 bg-color:base-2">닉네임</div>
                                        <label class="d:flex jc:center fl-grow:1 mx:2 my:1 px:2 bd bd-radius:3">
                                            <input class="w:100p fs:1" type="text" name="nickname" th:value="${param.nickname}" />
                                        </label>
                                    </div>
                                </div>
                                <div class="d:flex fl-grow:1 bd-top bd-w:2">
                                    <div class="text-align:center fw:3 fs:1 w:2 py:2 bg-color:base-2">아이디</div>
                                    <label class="d:flex jc:center fl-grow:1 mx:2 my:1 px:2 bd bd-radius:3">
                                        <input class="w:100p fs:1" type="text" name="email" placeholder="이메일" th:value="${param.email}" />
                                    </label>
                                </div>
                                <div class="d:flex bd-top bd-w:2">
                                    <div class="d:flex">
                                        <div class="text-align:center fw:3 fs:1 w:2 py:2 bg-color:base-2">출생연도</div>
                                        <label class="d:flex ai:center w:5 mx:2 my:1 px:2 bd bd-radius:3">
                                            <input
                                                class="h:100p w:100p fs:1"
                                                type="number"
                                                name="birthyear"
                                                min="1900"
                                                id="birthyear"
                                                placeholder="- - - -"
                                                th:value="${#strings.isEmpty(param.birthyear)} ? '' : ${param.birthyear}"
                                            />
                                        </label>
                                    </div>
                                    <div class="d:flex fl-grow:1">
                                        <div class="text-align:center fw:3 fs:1 w:2 py:2 bg-color:base-2">성별</div>
                                        <div class="d:flex ai:center ml:2">
                                            <label class="d:flex ai:center mr:5 fs:1">
                                                <input type="radio" name="gender" value="" class="mr:1" checked />
                                                전체
                                            </label>
                                            <label class="d:flex ai:center mr:5 fs:1">
                                                <input type="radio" name="gender" value="1" class="mr:1" th:checked="${{param.gender}}== 1 ? true" />
                                                남성
                                            </label>
                                            <label class="d:flex ai:center mr:5 fs:1">
                                                <input type="radio" name="gender" value="2" class="mr:1" th:checked="${{param.gender}} == 2 ? true" />
                                                여성
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d:flex bd-top bd-w:2">
                                    <div class="d:flex">
                                        <div class="text-align:center fw:3 fs:1 w:2 py:2 bg-color:base-2">등록일</div>
                                        <div class="d:flex ai:center jc:space-between w:5 mx:2">
                                            <div>
                                                <input class="fs:1" name="startdate" type="date" th:value="${param.startdate}" />
                                            </div>
                                            <div>&nbsp;~&nbsp;</div>
                                            <div>
                                                <input class="fs:1" name="enddate" type="date" th:value="${param.enddate}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d:flex fl-grow:1">
                                        <div class="text-align:center fw:3 fs:1 w:2 py:2 bg-color:base-2 fl-shrink:0">상태</div>
                                        <div class="d:flex ai:center ml:2 fl-shrink:0">
                                            <label class="d:flex ai:center mr:5 fs:1">
                                                <input type="radio" name="status" value="" class="mr:1" checked />
                                                전체
                                            </label>
                                            <label class="d:flex ai:center mr:5 fs:1">
                                                <input type="radio" name="status" value="1" class="mr:1" th:checked="${{param.status}} == 1 ? true" />
                                                정상
                                            </label>
                                            <label class="d:flex ai:center mr:5 fs:1">
                                                <input type="radio" name="status" value="2" class="mr:1" th:checked="${{param.status}} == 2 ? true" />
                                                탈퇴
                                            </label>
                                            <label class="d:flex ai:center mr:5 fs:1">
                                                <input type="radio" name="status" value="3" class="mr:1" th:checked="${{param.status}} == 3 ? true" />
                                                정지
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d:none">
                            <input type="text" value="1" name="p" />
                        </div>
                        <div class="text-align:end mt:2 mr:2">
                            <button class="reset-btn n-btn bg-color:base-2 color:base-5 fs:1">초기화</button>
                            <button class="search-btn n-btn fs:1">검색</button>
                        </div>
                    </form>
                </div>
            </section>
            <section id="result-section" class="admin-user mx:2 mt:10">
                <h1 class="d:none">검색 결과 리스트</h1>
                <div>
                    <div class="d:flex mb:1 ai:center mb:2">
                        <div class="fw:3 fs:4 mr:2">회원 목록</div>
                        <div class="fl-grow:1 d:flex">
                            <div class="color:base-4 fs:1">검색 결과:&nbsp;</div>
                            <div class="d:flex">
                                <div class="color:main-4 fs:1 mr:1" th:text="${list} eq null ? '0' : ${count}">30</div>
                                <div class="color:base-4 fs:1">건</div>
                            </div>
                        </div>
                    </div>
                    <div class="d:flex ai:center bg-color:base-2 px:2 py:2">
                        <label class="d:flex">
                            <input type="checkbox" name="all" style="width: 20px; height: 20px" />
                        </label>
                        <div class="fw:3 w:1p text-align:center fs:1">번호</div>
                        <div class="fw:3 w:1p text-align:center fs:1">회원번호</div>
                        <div class="fw:3 w:4p text-align:center fs:1">아이디(이메일)</div>
                        <div class="fw:3 w:2p text-align:center fs:1">닉네임</div>
                        <div class="fw:3 w:1p text-align:center fs:1">출생연도</div>
                        <div class="fw:3 w:1p text-align:center fs:1">성별</div>
                        <div class="fw:3 w:1p text-align:center fs:1 fl-shrink:0">등록일</div>
                        <div class="fw:3 w:1p text-align:center fs:1">상태</div>
                    </div>
                    <div class="result-list">
                        <form action="update" method="post" id="idsForm">
                            <div class="result bd-bottom px:2 py:2" th:each="u,i : ${list}">
                                <a th:href="@{|detail?id=${u.id}}" class="d:flex ai:center">
                                    <label class="d:flex">
                                        <input name="ids" type="checkbox" th:value="${u.id}" style="width: 20px; height: 20px" />
                                    </label>
                                    <div class="w:1p text-align:center fs:1" th:text="${i.count}">1</div>
                                    <div class="w:1p text-align:center fs:1" th:text="${u.id}">123</div>
                                    <div class="w:4p text-align:center fs:1" th:text="${u.email}">admin@withbooks.kr</div>
                                    <div class="w:2p text-align:center fs:1" th:text="${u.nickname}">위북이</div>
                                    <div class="w:1p text-align:center fs:1" th:text="${#temporals.format(u.birthDate, 'yyyy')}">1999</div>
                                    <div class="w:1p text-align:center fs:1" th:text="${u.gender == 1? '남성' : '여성'}">여성</div>
                                    <div class="w:1p text-align:center fs:1 fl-shrink:0" th:text="${#temporals.format(u.joinDate, 'yyyy-MM-dd')}">2024-01-01</div>
                                    <div
                                        class="w:1p text-align:center fs:1"
                                        th:text="${u.withdrawStatusName}"
                                        th:classappend="${u.withdrawStatus == 2 ? 'color:base-4' : u.withdrawStatus == 3 ? 'color:accent-1' : '' }"
                                    >
                                        정상
                                    </div>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section class="my:8">
                <h1 class="d:none">페이저</h1>
                <ul
                    class="n-pager"
                    style="display: flex; justify-content: center"
                    th:with="page = ${param.p} eq null ? 1 : ${{param.p}}
                        , temp = (${page} - 1) / 5
                        , startnum = ${T(java.lang.Math).floor(temp)} * 5 + 1
                        ,temp1 = ${{count}}/6
                        ,lastnum=${count} mod 6 > 0 ? ${T(java.lang.Math).floor(temp1)} + 1 : ${T(java.lang.Math).floor(temp1)}
                        ,endnum=${startnum+4} lt ${lastnum} ? ${startnum+4} : ${lastnum}
                        "
                >
                    <li>
                        <span class="fs:1" th:if="${page} lt 6">이전</span>
                        <a
                            class="fs:1"
                            th:if="${page} ge 6"
                            href="list?p=1"
                            th:href="@{./list(id=${param.id},nickname=${param.nickname},email=${param.email},birthyear=${birthyear},gender=${param.gender},startdate=${param.startdate},enddate=${param.enddate},status=${param.status},p=${startnum}-1)}"
                            >이전</a
                        >
                    </li>
                    <li th:each="n : ${#numbers.sequence(startnum, endnum)}" th:class="${{param.p}} eq ${n} ? 'active' : ''">
                        <span th:if="${n} eq ${{param.p}}" th:text="${n}"></span>
                        <a
                            class="fs:1"
                            href="list?p=1"
                            th:if="${n} ne ${{param.p}}"
                            th:href="@{./list(id=${param.id},nickname=${param.nickname},email=${param.email},birthyear=${birthyear},gender=${param.gender},startdate=${param.startdate},enddate=${param.enddate},status=${param.status},p=${n})}"
                            th:text="${n}"
                            >1</a
                        >
                    </li>
                    <li>
                        <span class="fs:1" th:if="${startnum+4} ge ${lastnum}">다음</span>
                        <a
                            class="fs:1"
                            href="list?p=6"
                            th:if="${startnum+4} lt ${lastnum}"
                            th:href="@{./list(id=${param.id},nickname=${param.nickname},email=${param.email},birthyear=${birthyear},gender=${param.gender},startdate=${param.startdate},enddate=${param.enddate},status=${param.status},p=${startnum}+5)}"
                            >다음</a
                        >
                    </li>
                </ul>
            </section>
            <section id="batch-menus" class="my:4">
                <h1 class="d:none">일괄 처리 메뉴</h1>
                <div class="text-align:center">
                    <div class="d:inline-flex mr:2 fs:2">일괄 처리(<span class="color:accent-1">※ 체크된 회원</span>)</div>
                    <div class="normal-status n-btn mr:2">정상 처리</div>
                    <button class="withdraw-status n-btn bg-color:main-2 color:main-6 mr:2">탈퇴 처리</button>
                    <button class="expulsion-status n-btn mr:2">정지 처리</button>
                </div>
            </section>
        </main>
    </body>
</html>
