<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/bookmark/list.js" defer></script>
</head>
<body>

    <main layout:fragment="main">
        <section>
            <h1 class="d:none n-tab-grow">내서재 탭바</h1>
            <ul class="n-tabbar">
                <li class="w:5p">
                    <button class="w:100p color:base-3 font-weight:3">
                        <a href="/booklog/list">북로그</a></button>
                </li>
                <li class="w:5p">
                    <button class="w:100p font-weight:3">북마크</button>
                </li>
            </ul>
        </section>

        <div class="book-check-all d:flex mx:3 justify-content:space-between margin:2">
            <div>
                <label>
                    <input type="checkbox" class="d:none n-toggle n-toggle-type:check-box n-toggle-size:1" />
                </label>
            </div>
            <div>
                <!-- 취소 버튼 빈색, 삭제버튼 빨간색 -->
                <button class="n-btn n-btn-color:accent mr:2 cancel-btn d:none">취소</button>
                <button class="n-btn mr:2 delete-btn">삭제</button>
            </div>
        </div>

        <section id="bookmark-section" class="my:4 d:flex flex-wrap:wrap justify-content:flex-start m:3 px:3">
            <h1 class="d:none">북 리스트</h1>
            <section class="bookmark-list">
                <a class=""
                href="/book/detail?id=1"
                >
                    <div
                        class="d:flex jc:center ai:center px:3 mx:3"
                    >
                        <div class="pos:relative">
                        
                            <label>
                                <input type="checkbox" class="d:none position:absolute top:0p left:-1p n-toggle n-toggle-type:check-box n-toggle-size:1"></input>
                            </label>
                            <div
                                class="gap:4 d:flex fl-dir:column lg:ai:center pt:3"
                            >
                                <div class="w:100p lg:w:3 d:flex jc:center">
                                    <img
                                        src="/image/shorts/detail/도둑맞은집중력.PNG"
                                        class="h:3"
                                        alt="도둑맞은 집중력.img"
                                    />
                                </div>

                                <div class="w:100p d: fl-dir:column ai:center">
                                    <h1 class="fs:3 fw:3">
                                        도둑맞은 집중력
                                    </h1>
                                    <div
                                        class="fs:2 fw:1 mt:1"
                                    >요한하리
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </a>
            </section>
            <!-- ============================================================================= -->
            <section class="bookmark-list">
                <a 
                href="/book/detail?id=1"
                >
                    <div
                        class="d:flex jc:center ai:center px:3 mx:3"
                    >
                        <div class="pos:relative">
                        
                            <label>
                                <input type="checkbox" class="d:none position:absolute top:0p left:-1p n-toggle n-toggle-type:check-box n-toggle-size:1"></input>
                            </label>
                            <div
                                class="gap:4 d:flex fl-dir:column lg:ai:center pt:3"
                            >
                                <div class="w:100p lg:w:3 d:flex jc:center">
                                    <img
                                        src="/image/shorts/detail/도둑맞은집중력.PNG"
                                        class="h:3"
                                        alt="도둑맞은 집중력.img"
                                    />
                                </div>

                                <div class="w:100p d: fl-dir:column ai:center">
                                    <h1 class="fs:3 fw:3">
                                        도둑맞은 집중력
                                    </h1>
                                    <div
                                        class="fs:2 fw:1 mt:1"
                                    >요한하리
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </a>
            </section>
            <section class="bookmark-list">
                <a 
                href="/book/detail?id=1"
                >
                    <div
                        class="d:flex jc:center ai:center px:3 mx:3"
                    >
                        <div class="pos:relative">
                        
                            <label>
                                <input type="checkbox" class="d:none position:absolute top:0p left:-1p n-toggle n-toggle-type:check-box n-toggle-size:1"></input>
                            </label>
                            <div
                                class="gap:4 d:flex fl-dir:column lg:ai:center pt:3"
                            >
                                <div class="w:100p lg:w:3 d:flex jc:center">
                                    <img
                                        src="/image/shorts/detail/도둑맞은집중력.PNG"
                                        class="h:3"
                                        alt="도둑맞은 집중력.img"
                                    />
                                </div>

                                <div class="w:100p d: fl-dir:column ai:center">
                                    <h1 class="fs:3 fw:3">
                                        도둑맞은 집중력
                                    </h1>
                                    <div
                                        class="fs:2 fw:1 mt:1"
                                    >요한하리
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </a>
            </section>
            <section class="bookmark-list">
                <a 
                href="/book/detail?id=1"
                >
                    <div
                        class="d:flex jc:center ai:center px:3 mx:3"
                    >
                        <div class="pos:relative">
                        
                            <label>
                                <input type="checkbox" class="d:none position:absolute top:0p left:-1p n-toggle n-toggle-type:check-box n-toggle-size:1"></input>
                            </label>
                            <div
                                class="gap:4 d:flex fl-dir:column lg:ai:center pt:3"
                            >
                                <div class="w:100p lg:w:3 d:flex jc:center">
                                    <img
                                        src="/image/shorts/detail/도둑맞은집중력.PNG"
                                        class="h:3"
                                        alt="도둑맞은 집중력.img"
                                    />
                                </div>

                                <div class="w:100p d: fl-dir:column ai:center">
                                    <h1 class="fs:3 fw:3">
                                        도둑맞은 집중력
                                    </h1>
                                    <div
                                        class="fs:2 fw:1 mt:1"
                                    >요한하리
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </a>
            </section>
            <section class="bookmark-list">
                <a 
                href="/book/detail?id=1"
                >
                    <div
                        class="d:flex jc:center ai:center px:3 mx:3"
                    >
                        <div class="pos:relative">
                        
                            <label>
                                <input type="checkbox" class="d:none position:absolute top:0p left:-1p n-toggle n-toggle-type:check-box n-toggle-size:1"></input>
                            </label>
                            <div
                                class="gap:4 d:flex fl-dir:column lg:ai:center pt:3"
                            >
                                <div class="w:100p lg:w:3 d:flex jc:center">
                                    <img
                                        src="/image/shorts/detail/도둑맞은집중력.PNG"
                                        class="h:3"
                                        alt="도둑맞은 집중력.img"
                                    />
                                </div>

                                <div class="w:100p d: fl-dir:column ai:center">
                                    <h1 class="fs:3 fw:3">
                                        도둑맞은 집중력
                                    </h1>
                                    <div
                                        class="fs:2 fw:1 mt:1"
                                    >요한하리
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </a>
            </section>
            <section class="bookmark-list">
                <a 
                href="/book/detail?id=1"
                >
                    <div
                        class="d:flex jc:center ai:center px:3 mx:3"
                    >
                        <div class="pos:relative">
                        
                            <label>
                                <input type="checkbox" class="d:none position:absolute top:0p left:-1p n-toggle n-toggle-type:check-box n-toggle-size:1"></input>
                            </label>
                            <div
                                class="gap:4 d:flex fl-dir:column lg:ai:center pt:3"
                            >
                                <div class="w:100p lg:w:3 d:flex jc:center">
                                    <img
                                        src="/image/shorts/detail/도둑맞은집중력.PNG"
                                        class="h:3"
                                        alt="도둑맞은 집중력.img"
                                    />
                                </div>

                                <div class="w:100p d: fl-dir:column ai:center">
                                    <h1 class="fs:3 fw:3">
                                        도둑맞은 집중력
                                    </h1>
                                    <div
                                        class="fs:2 fw:1 mt:1"
                                    >요한하리
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </a>
            </section>
<!-- ======================================================================================== -->

           
        </section>

    </main>
    
</body>
</html>