<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .notice-checkbox{
            --width-1: 18px;
            --height-1: 18px;
        }
        .transition{
            transition: all 0.5s;
        }
        .checked{
            
            --color-base-4: var(--color-main-5);
            --border-color: var(--color-main-5);
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://www.newlecture.com/dist/v0.2.0/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/var.css" />
    <script defer src="/js/freeboard/reg.js"></script>
</head>
<body>
    <main class="px:2">
        <form action="edit" method="post" enctype="multipart/form-data">

            <input type="hidden" name="wid"  th:value="${param.wid}">
            <div class="d:flex jc:end">
                <button type="submit" id="btn" class="n-btn mt:3 bg-color:main-5">
                    수정
                </button>
            </div>

            <p class="fw:3 fs:7 mr:3 ml:3 mb:4 mb:8 px:2">
                📘자유게시판 <span class="d:inline-block  fs:3 bd-bottom bd-color:accent-1 pb:1">글을 수정합시다!</span>
            </p>



            <section
                class="bd-color:base-3 bd-radius:9 px:4 mt:6"
            >
                <h1 class="d:none"> 💡 글 유형 </h1>
                <div class="py:2">
                    <label class="box-shadow:3 color:base-4 px:2 py:1 bd bd-radius:4 cursor:pointer transition" th:classappend="${freeBoard.noticeYn == 1} ? 'checked'">
                        공지사항입니까? 
                        <input class="check-input d:none" type="checkbox" name="notice" th:checked="${freeBoard.noticeYn == 1}">
                    </label>
                </div>
            </section>



            <section
                id="search-book-form"
                class="bd-radius:9 n-item n-item:shadow px:5 py:3 m:3"
            >
                <h1 class="pt:3 bd-bottom w:100p h:1 fw:3">🔷 제목</h1>
                <div class="d:flex fl-dir:column ai:center">
                    <div
                        class="flex-grow:1 margin-right:1 al-self:stretch pos:relative"
                    >
                        <input
                            class="search-query-input n-textbox n-textbox:outline txt-al:center bd-radius:4 input mt:4"
                            type="text"
                            placeholder="제목을 입력해 주세요"
                            name="title"
                            th:value="${freeBoard.title}"
                        />
                    </div>
                </div>
            </section>


            <section
                class="bd-color:base-3 bd-radius:9 px:5 py:3 m:3 n-item n-item:shadow"
            >
                <h1 class="pt:3 bd-bottom w:100p h:1 fw:3"> 📷 첨부 이미지 선택 </h1>
                <div class="mt:2">
                    <label class="d:inline-block w:2 h:2 icon icon:image icon-color:base-4 color:base-4 px:2 py:1 bd bd-radius:4 box-sizing:content-box cursor:pointer">
                        사진 선택
                        <input --class="d:none" type="file" name="imgs" accept="image/*" multiple>
                    </label>
                </div>
                
            </section>



            <section class="bd-color:base-3 bd-radius:9 px:5 py:2 m:3 n-item n-item:shadow">
                <h1 class="pt:3 bd-bottom w:100p h:1 fw:3">🗒️ 내용</h1>
                <div class="mt:4">
                    <textarea
                        class="w:100p"
                        placeholder="내용을 작성해 주세요."
                        name="content"
                        th:maxlength="300"
                        cols="30"
                        rows="10"
                        th:utext="${freeBoard.content}"
                    ></textarea>
                </div>
            </section>

            <div>
                <input type="hidden" name="with-id" th:value="${freeBoard.withId}">
                <input type="hidden" name="free-board_id" th:value="${freeBoardId}">
            </div>
        </form>

    </main>
</body>
</html>