<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{inc/layout.html}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Document</title>
  <style>
    main{
      --gap-1: 1px;
      --height-1: 56px;
      --height-2: 68px;
    }
    #notice{
      --box-shadow-6: 0px 4px 20px -4px #4F74F57f,0px -2px 20px 4px #4F74F57f
    }
    #board-list .content{
      --box-shadow-6: 0px 4px 20px -4px rgba(0,0,0,.08),0px -2px 20px 4px rgba(0,0,0,.01);
    }
    #edit-del-btn-section{
      --top-1: 16px;
      --right-1: 0px;
    }
    .notice-toggle-icon{
      --top-1: -16px;
      --left-1: 20px;
    }
    /* .board-toggle-icon{
      --top-1: 4px;
      --right-1: 20px;
    } */
    .profile-img{
      --height-1:24px;
      --width-1:24px;
    }
  </style>
  <script defer src="/js/freeboard/list.js"></script>
</head>
<body>
<main layout:fragment="main">
  <div class="with-tap-component pt:4 px:2">
    <ul class="n-tabbar justify-content:space-between menu-tap">
      <li><a class="fw:3" id="home2" th:href="@{/with/detail(m=3,id=${param.wid})}">홈</a></li>
      <li><a id="debate" th:href="@{/with/debate/list(m=3,wid=${param.wid})}">토론서재</a></li>
      <li><a id="calendar" th:href="@{/calendar/index(wid=${param.wid})}">모임일정</a></li>
      <li class="active"><a id="board" th:href="@{/free-board/list(m=3,wid=${param.wid},p=1,s='latest')}">자유게시판</a></li>
      <li><a>북추천</a></li>
      <li><a>위드맴버</a></li>
    </ul>
  </div>

  <section>
    <h1 class="d:none">자유게시판</h1>
    <div>

      <section id="notice-list" class="pos:relative mt:8">

        <h1 class="fs:4 fw:2 pb:3 bd-bottom bd-color:base-2 bd-w:2 mx:4 pl:4"></h1>
        <div >
          <button class="notice-toggle-icon icon icon:caret_down pos:absolute left:1 top:1 cursor:pointer">접기/펴기 아이콘</button>
          <section id="notice" class="mt:5 mx:4 color:base-1">
            <h1 class="d:none">공지글 목록</h1>
            <div>
              <div class="box-shadow:6 d:flex jc:space-between ai:center bg-color:main-6 bd-tl-radius:3 bd-tr-radius:3 h:1 px:6">
                <span class="d:flex">
                  <div class="d:flex ai:center"><img class="profile-img h:1 w:1 bd-radius:12" alt="" src="" --th:src="${b.userImg}"></div>
                  <div class="ml:2">뉴렉이</div>
                </span>
                <p class="color:base-1">3:45 pm</p>
              </div>
              <div class="box-shadow:6 d:flex pl:6 jc:start ai:center notice-bot-box mt:1 bg-color:main-6 bd-bl-radius:3 bd-br-radius:3 h:2 ln-clamp:1 fs:3">자유게시판 공지사항에 대해 말씀드립니다.</div>
            </div>
          </section>
        </div>
      </section>

      
      
      <section class="mt:10 pos:relative">

        <h1 class="d:none fs:4 fw:2 pb:3 bd-bottom bd-color:base-2 bd-w:2 mx:4 pl:4">게시글 목록</h1>
        <div>
          <!-- <button class="board-toggle-icon icon icon:caret_down pos:absolute right:1 top:1 cursor:pointer">접기/펴기 아이콘</button> -->
          <section id="board-list" class="mt:5 mx:4 pos:relative" th:each="b : ${list}">
            <a href="" th:href="@{./detail(m=3,fid=${b.id})}">
              <h1 class="d:none">게시글</h1>
              <div>
                <div class=" d:flex jc:space-between ai:center bg-color:base-1 bd-tl-radius:3 bd-tr-radius:3 h:1 px:6">
                  <span class="d:flex">
                    <div class="d:flex ai:center"><img class="profile-img h:1 w:1 bd-radius:12" alt="" src="" th:src="${b.userImg}"></div>
                    <div class="ml:2" th:text="${b.nickname}">뉴렉이</div>
                  </span>
                  <div class="color:base-5" th:text="${#temporals.format(b.regDate, 'yyyy-MM-dd')}">3:45pm</div>
                </div>
                <span class="d:flex box-shadow:3 bd-bl-radius:3 bd-br-radius:3">
                  <div class="d:flex flex-grow:1 pl:6 jc:start ai:center notice-bot-box bd-bl-radius:3 bd-br-radius:3 h:2 ln-clamp:1 fs:3 al:stretch">
                    <span th:text="${b.title}">푸바오 신간 샀어요 !!</span> 
                    <span class="icon icon:image icon:size:1 ml:2 align-self:center" th:unless="${#arrays.isEmpty(b.imgs)}">이미지 아이콘</span>
                    <span class="ml:auto deco icon:thumbs_up icon-color:base-5" th:text="${b.likeCnt}">13</span> 
                    <span class="ml:4 mr:4 deco icon:chat icon-color:base-5" th:text="${b.commentCnt}">5</span>
                  </div>
                </span>
              </div>
            </a>

            <section id="edit-del-btn-section"
                      th:if="${#authentication.principal ne 'anonymousUser' and #authentication.principal.id eq b.userId}">
                <h1 class="d:none">수정/삭제 버튼</h1>
                <button class="icon icon:dots_three_outline_vertical_fill icon-size:2 pos:absolute right:1 top:1 cursor:pointer">점점점</button>
                
                <ul class="pop-up-box pos:absolute top:1 right:3 bd bd-radius:4 bg-color:base-1 py:2 px:1 d:none">
                    <li>
                        <a class="edit-btn bd-radius:4 py:1 px:4 d:inline-block deco icon:file icon-color:main-5 color:main-5"
                            th:href="@{edit(m=3,wid=${param.wid},fid=${b.id})}">수정하기</a>
                    </li>
                    <li class="mt:2">
                        <button class="del-btn bd-radius:4 py:1 px:4 d:inline-block deco icon:trash icon-color:accent-1 color:accent-1 cursor:pointer"
                                href="" th:attr="data-id=${b.id}">삭제하기</button>
                    </li>
                </ul>
            </section>

            
          </section>
        </div>

      </section>
    </div>
  </section>
  
</main>
</body>
</html>