<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{inc/layout.html}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>위드북스</title>
  <style>
    main{
      --gap-1: 1px;
      --height-1: 56px;
      --height-2: 68px;
    }
    #del-modal-box {
      --color-base-3: rgba(30, 6, 6, 0.1);
    }
    #pager{
      --gap-1: 6px;
    }
    .notice-edit-del-icon,
    .notice-pop-up-box {
      --top-1: -120px;
    }
    .notice-toggle-btn{
      --bottom-8: 120px;
    }
    .profile-img{
      --height-1:24px;
      --width-1:24px;
    }
    .icon\:dots_three_outline_vertical_fill:hover {
      background-color: var(--color-base-3);
      border-radius: 20px;
    }
    .selected-sort {
      --color-base-3: var(--color-base-9);
    }
    .selected-img-pager {
      background-color: var(--color-main-5);
      border-color: var(--color-main-5) !important;
      transition: background-color 400ms, border-color 400ms;
    }
    .cur-page {
      background-color: var(--color-main-5);
      color: var(--color-base-1) !important;
      border-width: 0 !important;
    }
    .icon\:file:hover,
    .icon\:trash:hover {
      background-color: var(--color-base-2);
    }
  </style>
  <script defer src="/js/freeboard/list.js"></script>
</head>
<body>
<main layout:fragment="main">

  <div class="with-tap-component pt:4 px:2">
    <ul class="n-tabbar justify-content:space-between menu-tap">
      <li><a class="fw:3" id="home2" th:href="@{/with/detail(m=3,id=${param.wid})}">홈</a></li>
      <li><a id="debate" th:href="@{/debate/list(m=3,wid=${param.wid})}">토론서재</a></li>
      <li><a id="calendar" th:href="@{/calendar/index(m=3,wid=${param.wid})}">모임일정</a></li>
      <li class="active"><a id="board" th:href="@{/free-board/list(m=3,wid=${param.wid},p=1,s='latest')}">자유게시판</a></li>
      <!-- <li><a>북추천</a></li> -->
      <li><a>위드맴버</a></li>
    </ul>
  </div>

  <section id="free-board">
    <h1 class="d:none">자유게시판</h1>
    <div>
      <section id="sort" class="d:flex jc:end ai:center mt:3 mr:6 fs:2" th:unless="${#lists.isEmpty(noticeList)}">
        <h1 class="d:none">정렬방식</h1>
        <div class="d:flex">
          <div>
            <a class="latest fw:3 color:base-3" href="" th:classappend="${{param.s}}=='latest' ? 'selected-sort'" th:href="@{./list(m=3,wid=${param.wid},p=1,s=latest)}">
              최신순
            </a>
          </div>
          <div class="mx:2 color:base-5">
            |
          </div>
          <div>
            <a class="popular fw:3 color:base-3" href="" th:classappend="${{param.s}}=='popular' ? 'selected-sort'" th:href="@{./list(m=3,wid=${param.wid},p=1,s=popular)}">
              인기순
            </a>
          </div>
        </div>
      </section>

      <section id="notice-list" class="d:block">
        <h1 class="d:none">공지글 목록</h1>

        <div >
          <section id="notice" class="mt:5 mx:4 color:base-1" th:each="n : ${noticeList}">
            <h1 class="d:none">공지글</h1>
            <div>
              <a href="" th:href="@{./detail(m=3,fid=${n.id},wid=${param.wid},p=${param.p},s=${param.s})}">
                <div class=" d:flex jc:space-between ai:center bg-color:main-5 bd-tl-radius:3 bd-tr-radius:3 h:1 px:6">
                  <span class="d:flex">
                    <div class="d:flex ai:center"><img class="profile-img h:1 w:1 bd-radius:12" alt="" src="" th:src="${n.userImg}"></div>
                    <div class="ml:2" th:text="${n.nickname}">뉴렉이</div>
                  </span>
                  <p class="color:base-1" th:text="${#temporals.format(n.regDate, 'yyyy-MM-dd')}">3:45 pm</p>
                </div>
                <div class=" d:flex pl:6 jc:start ai:center notice-bot-box mt:1 bg-color:main-5 bd-bl-radius:3 bd-br-radius:3 h:2 ln-clamp:1 fs:3" th:text="${n.title}">자유게시판 공지사항에 대해 말씀드립니다.</div>
              </a>
              
              <section id="edit-del-btn-section" class="pos:relative"
                      th:if="${#authentication.principal ne 'anonymousUser' and #authentication.principal.id eq n.userId and isWithMember != null}">
                <h1 class="d:none">수정/삭제 버튼</h1>
                <button class="notice-edit-del-icon icon icon:dots_three_outline_vertical_fill icon-size:2 pos:absolute top:1 right:1 cursor:pointer">점점점</button>
                
                <ul class="notice-pop-up-box pop-up-box pos:absolute top:1 right:3 bd bd-radius:4 bg-color:base-1 py:2 px:1 d:none">
                    <li>
                        <a class="edit-btn bd-radius:4 py:1 px:4 d:inline-block deco icon:file icon-color:main-5 color:main-5"
                            th:href="@{edit(m=3,wid=${param.wid},fid=${n.id})}">수정하기</a>
                    </li>
                    <li class="mt:2">
                        <button class="del-btn bd-radius:4 py:1 px:4 d:inline-block deco icon:trash icon-color:accent-1 color:accent-1 cursor:pointer"
                                href="" th:attr="data-id=${n.id}">삭제하기</button>
                    </li>
                </ul>
              </section>
            </div>
          </section>
        </div>
      </section>

      
      
      <section id="board-list" class="pos:relative">

        <h1 class="d:none fs:4 fw:2 pb:3 bd-bottom bd-color:base-2 bd-w:2 mx:4 pl:4">게시글 목록</h1>
        <div>
          <section class="mt:5 mx:4 pos:relative" th:each="b : ${list}">
            <h1 class="d:none">게시글</h1>
            <a href="" th:href="@{./detail(m=3,fid=${b.id},wid=${param.wid},p=${param.p},s=${param.s})}">
              <div>
                <div class=" d:flex jc:space-between ai:center bg-color:base-1 bd-tl-radius:3 bd-tr-radius:3 h:1 px:6">
                  <span class="d:flex">
                    <div class="d:flex ai:center"><img class="profile-img h:1 w:1 bd-radius:12" alt="" src="" th:src="${b.userImg}"></div>
                    <div class="ml:2 color:base-7" th:text="${b.nickname}">뉴렉이</div>
                  </span>
                  <div class="color:base-5" th:text="${#temporals.format(b.regDate, 'yyyy-MM-dd')}">3:45pm</div>
                </div>
                <span class="d:flex box-shadow:3 bd-bl-radius:3 bd-br-radius:3">
                  <div class="d:flex flex-grow:1 pl:6 jc:start ai:center notice-bot-box bd-bl-radius:3 bd-br-radius:3 h:2 fs:3 al:stretch">
                    <span class="ln-clamp:1 color:base-9" th:text="${b.title}">푸바오 신간 샀어요 !!</span> 
                    <span class="icon icon:image icon-size:3 icon-color:main-5 ml:1 mt:1 align-self:center" th:unless="${#arrays.isEmpty(b.imgs)}">이미지 아이콘</span>
                    <span class="ml:auto deco icon:thumbs_up icon-color:base-5" th:text="${b.likeCnt}">13</span> 
                    <span class="ml:4 mr:4 deco icon:chat icon-color:base-5" th:text="${b.commentCnt}">5</span>
                  </div>
                </span>
              </div>
            </a>

            <section id="edit-del-btn-section"
                      th:if="${#authentication.principal ne 'anonymousUser' and #authentication.principal.id eq b.userId and isWithMember != null}">
                <h1 class="d:none">수정/삭제 버튼</h1>
                <button class="icon icon:dots_three_outline_vertical_fill icon-size:2 pos:absolute top:1 right:1 cursor:pointer">점점점</button>
                
                <ul class="pop-up-box pos:absolute top:1 right:3 bd bd-radius:4 bg-color:base-1 py:2 px:1 d:none">
                    <li>
                        <a class="edit-btn bd-radius:4 py:1 px:4 d:inline-block deco icon:file icon-color:main-5 color:main-5"
                            th:href="@{edit(m=3,wid=${param.wid},fid=${b.id})}">수정하기</a>
                    </li>
                    <li class="mt:2">
                        <button class="del-btn bd-radius:4 py:1 px:4 d:inline-block deco icon:trash icon-color:accent-1 color:accent-1 cursor:pointer"
                                href="" th:attr="data-id=${b.id}">삭제하기</button>
                    </li>
                </ul>
            </section>
            
          </section>
        </div>

      </section>


      <section id="pager" class="mt:5 d:flex jc:center"
              th:with="
                        tmpa = (${count}-1) / 10,
                        lastestPage = ${T(java.lang.Math).floor(tmpa)} + 1,
                        tmp = (${{param.p}}-1) / 5,
                        startnum = ${T(java.lang.Math).floor(tmp)} * 5 + 1
                      "
      >
        <h1 class="d:none">페이저</h1>
        <ul class="d:flex jc:center ai:center" th:unless="${lastestPage} lt 1">
          <li th:unless="${startnum} eq 1">
            <a class="icon icon:caret_left" href="" th:href="@{./list(m=${param.m},wid=${param.wid},p=${startnum}-1,s=${param.s})}">이전</a>
          </li>

          <li class="ml:3" th:each="n : ${#numbers.sequence(startnum, startnum+4)}" th:if="${n le lastestPage}">
            <a class="px:3 py:1 color:base-9 bd bd-radius:4"
              th:classappend="${{param.p}} == ${n} ? 'cur-page'"
              th:href="@{./list(m=3,wid=${param.wid},p=${n},s=${param.s})}"
              th:text="${n}"
            >1</a>
          </li>
          <li class="ml:3" th:if="${startnum + 5} le ${lastestPage}">
            <a class="icon icon:caret_right" href="" th:href="@{./list(m=${param.m},wid=${param.wid},p=${startnum}+5,s=${param.s})}">다음</a>
          </li>
        </ul>
      </section>


      <section id="del-modal-box" class="pos:fixed top:1 bottom:1 left:1 right:1 zi:4 d:flex ai:center jc:center bg-color:base-3 d:none">
        <h1 class="d:none">삭제 모달 창</h1>
        <span class="modal-center-box bd bd-radius:4 bg-color:base-1 w:5 h:3 d:flex fl-dir:column ai:center jc:center">
            <div class="fs:4">정말로 삭제하시겠습니까?</div>
            <div class="del-modal-div mt:5 d:flex">
                <button class="del-btn bd bd-radius:4 bd-color:transparent bg-color:accent-1 px:4 py:2 color:base-1 cursor:pointer">삭제</button>
                <button class="cancel-btn bd bd-radius:4 px:4 py:2 ml:4 cursor:pointer">취소</button>
            </div>
        </span>
      </section>  

      <section class="pos:fixed right:2 md:right:3 lg:right:3 bottom:9 md:bottom:4 lg:bottom:4 zi:3" th:unless="${isWithMember} == null">
        <h1 class="d:none">플로팅 버튼</h1>
        <div>
          <a class="icon icon:plus icon-color:sub-1 icon-size:4 bg-color:main-5 border-radius:12 p:2 box-sizing:content-box" href="" th:href="@{reg(wid=${param.wid})}">등록</a>
        </div>
      </section>

      <section>
        <h1 class="d:none">공지 토글 플로팅 버튼</h1>
        <div>
          <button class="notice-toggle-btn icon icon:speaker_simple_high_fill pos:fixed right:2 md:right:3 lg:right:3 bottom:8 md:bottom:10 lg:bottom:10 bd bd-color:base-9 bd-radius:12 p:2 box-sizing:content-box cursor:pointer zi:3">공지 토글 버튼</button>
        </div>
      </section>

    </div>
  </section>
  
</main>
</body>
</html>