<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{inc/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/profile/edit.js" defer></script>
    <style>
        main{
            --color-base-3:var(--color-base-2);
            --gap-9:100px;
        }
        img{
            --width-1:36px;
            --height-1:36px;

            --width-2:125px;
            --height-2:125px;
        }
        .back-icon-content-box{
            --top-1: -52px;
        }
        .save-button{
            --top-1: -222px;
        }
        .withdrawal-modal{
            --color-main-3:#1a1a1a9b;
        }
    </style>
</head>
<body>
    <main layout:fragment="main" class="flex-grow:1 pt:4 px:3 pb:9">
        <header>
            <section class="pos:relative">
                <h1 class="d:none">상단바</h1>
                <div class="back-icon-content-box h:1 pos:absolute top:1"><a class="icon icon:caret_left icon-size:5 " href="/my/index">뒤로가기</a></div>
            </section>
        </header>
        <section class="d:flex jc:center pb:10">
            <h1 class="d:none">프로필 이미지</h1>
            <span class="pos:relative">
                <a href="">
                    <div><img class="h:2 w:2" src="/image/my/profile.png" alt=""></div>
                    <div class="pos:absolute bottom:1 right:1"><img class="h1: w:1" src="/icon/pencil.svg" alt="연필아이콘"></div>

                </a>
            </span>
        </section>
        <form class="pos:relative" action="" method="post">
            <section id="profile-manage">
                <h1 class="fs:7 fw:3 color:base-8 pb:6">프로필 관리</h1>
                <div>
                    <span class="d:flex ai:center">
                        <div class="w:2"><label class="fs:4 color:base-8 w:5 max-w:10">닉네임</label></div>
                        <div class="flex-grow:1 js:end"><input class="n-textbox n-textbox-type:underline fs:5" name="nickname" type="text" th:value="${user.nickname}"></div>
                    </span>
                    <span class="d:flex ai:start mt:8">
                        <div class="w:2"><label class="fs:4 color:base-8">소개</label></div>
                        <div class="flex-grow:1 js:end"><textarea class="fs:5 w:10p h:2 bd-bottom" name="intro" id="" cols="30" rows="10" th:text="${user.intro}"></textarea></div>
                    </span>
                    <span class="d:flex ai:center mt:8">
                        <div class="w:2"><label class="fs:4 color:base-8">생년월일</label></div>
                        <div class="flex-grow:1 js:end"><input class="n-textbox n-textbox-type:underline fs:5" name="birthDate" type="text" th:value="${user.birthDate}"></div>
                    </span>
                    <span class="d:flex ai:center mt:8">
                        <div class="w:2"><label class="fs:4 color:base-8">성별</label></div>
                        <div class="flex-grow:1 js:end"><input class="n-textbox n-textbox-type:underline fs:5" name="gender" type="text" th:value="${user.gender}"></div>
                    </span>
                </div>
            </section>
            <section>
                <h1 class="fs:7 fw:3 color:base-8 pt:4 pb:6 mt:9">로그인 관리</h1>
                <div>
                    <div>
                        <label class="fs:4 color:base-8">아이디</label>
                        <div class="mt:5"><input class="n-textbox n-textbox-type:underline fs:5" name="email" type="text" th:value="${user.email}"></div>
                    </div>
                    <div class="mt:7"><a class="fs:4 fw:3 color:base-8 deco icon:key deco-mr:5" href="">비밀번호 변경하기</a></div>
                </div>
            </section>
            <div class="save-button pos:absolute top:1 right:1"><button class="px:4 py:2 bg-color:main-5 color:base-1 border-radius:2 cursor:pointer">저장</button></div>
        </form>
        <div class="h:1 mt:9">
            <a class="withdrawal-link fs:4 color:base-1 bg-color:accent-1 d:flex jc:center ai:center w:10p h:10p bd-radius:4" href="">회원 탈퇴</a>
        </div>

        <section class="withdrawal-modal pos:fixed top:0 bottom:0 left:0 right:0 bg-color:main-3 d:flex jc:center ai:center zi:3 d:none">
            <h1 class="d:none">회원탈퇴 확인 버튼</h1>
            <div class="bg-color:base-1 bd-radius:4 d:flex fl-dir:column jc:center ai:center p:6">
                <p class="fs:4 fw:3">정말로 회원 탈퇴를 하시겠습니까?</p>
                <span class="d:flex jc:center ai:center w:10p mt:4">
                    <div><a class="color:base-1 bg-color:accent-1 bd-radius:4 p:2" href="">회원탈퇴</a></div>
                    <div class="ml:4"><button class="withdrawal-cancel-btn bd bd-radius:3 bd-radius:4 py:2 px:5">취소</button></div>
                </span>
            </div>
        </section>
    </main>
</body>
</html>