<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.BookViewRepository">
	
	<select id="findAll" resultType="BookView">
		SELECT 
		*
		FROM book_view
		<where>
			<if test="query != null and query != '' ">
				and title like '%${query}%'
			</if>
			<if test="categoryId != null">
				and category_id = ${categoryId}
			</if>
		</where>
			
				<!-- <where>
			<if test="categoryId != null">
				category_id = #{categoryId}
			</if>
			<if test="query != null">
				and kor_name like '%${query}%'
			</if>
		</where>
		limit #{offset}, #{size} -->
	</select>
	
	<select id="findById" resultType="BookView" parameterType="Long" >
		SELECT 
		*
		FROM book_view
		WHERE ID = #{id}
	</select>

	<!-- <select id="count" resultType="int">
		SELECT 
		count(id)
		FROM menu
		<where>
			<if test="categoryId != null">
				category_id = #{categoryId} 
			</if>
			<if test="query != null">
				and kor_name like '%${query}%'
			</if>
		</where>
	</select> -->

	<select id="findAllByParams" resultType="BookView">
		select 
			*
		from
			(
				select 
					b.id,
					b.category_id,
					b.title,
					b.author,
					b.pub_date,
					b.publisher,
					b.isbn13,
					b.description,
					b.purchase_link,
					b.price,
					b.cover,
					b.public_yn,
					b.reg_date,
					c.name,
					count(bs.id) best_count
				from
					book b left join book_category c on b.category_id = c.id 
					left join bestseller bs on b.id = bs.book_id
				group by 
					b.id
				order by 
					b.reg_date desc
			) v
		<where>
			<if test="params.query != null and params.queryType != null">
				${params.queryType} like '%${params.query}%'
			</if>
			<if test="params.categoryId != null">
				and category_id = #{params.categoryId}
			</if>
		</where>
		order by
			id desc
		LIMIT #{offset}, #{size}

	</select>

	<select id="findCountByParams" resultType="int">
		select 
			count(id) count
		from
			book_view

		<where>
			<if test="params.query != null and params.queryType != null">
				${params.queryType} like '%${params.query}%'
			</if>
			<if test="params.categoryId != null">
				and category_id = #{params.categoryId}
			</if>
		</where>
	</select>

</mapper>