<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.BookRepository">
	
	<select id="findAll" resultType="Book">
		SELECT 
		*
		FROM book
		<where>
			<if test="query != null">
				title like '%${query}%'
			</if>
		</where>
				<!-- <where>
			<if test="categoryId != null">
				category_id = #{categoryId}
			</if>
			<if test="query != null">
				and kor_name like '%${query}%'
			</if>
		</where>
		limit #{offset}, #{size} -->
	</select>
	
	<select id="findById" resultType="Book" parameterType="Long" >
		SELECT 
		*
		FROM book
		WHERE id = #{id}
	</select>

	<select id="findMapById" resultType="hashmap">
		select b.id
		,b.title
		,b.author
		,b.pub_date pubDate
		,b.publisher
		,b.isbn13
		,b.description
		,b.purchase_link purchaseLink
		,b.price
		,b.cover
		,bc.name
		<if test="userId != null">
			,ifnull(bm.user_id = #{userId}, 0) marked
		</if> 
		from book b 
			left join book_category bc 
				on b.category_id = bc.id 
			left join bookmark bm 
				on b.id = bm.book_id 
		where
			b.id = #{bookId}
		group by b.id
	</select>

	<!-- <select id="count" resultType="int">
		SELECT 
		count(id)
		FROM menu
		<where>
			<if test="categoryId != null">
				category_id = #{categoryId} 
			</if>
			<if test="query != null">
				and kor_name like '%${query}%'
			</if>
		</where>
	</select> -->


</mapper>