<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.BookmarkRepository">
	
	<select id="findAll" resultType="BookmarkView">
		SELECT 
		*
		FROM bookmark_view
		<!-- <where>
			<if test="p != null">
				title like '%${query}%'
			</if>
		</where> -->
	</select>

	<delete id="deleteAllByIds">
		delete
		 
		from
			bookmark
		where
			id in
		<foreach collection="ids" item="ids" open="(" close=")" separator=",">
			#{ids}
		</foreach>
		<if test="userId != null">
			and user_id = #{userId}
		</if>

	</delete>

</mapper>