<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.BookshortsAttachmentRepository">


	<insert id="save" parameterType="BookshortsAttachment">
		INSERT INTO shorts_attachment (
			 img,shorts_id
		)
		VALUES (
 		#{img}, #{shortsId}
		)
	</insert>

	<select id="findAll" resultType="BookshortsAttachment" >
		select 
			* 
		from shorts_attachment
	</select>


	<select id="findAllById" resultType="BookshortsAttachment" >
		select
		*
		from shorts_attachment
		where shorts_id = #{id}
	</select>


</mapper>