<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.BookshortsViewRepository">

	<select id="findAll" resultType="BookshortsView" >

		select sv.*,
		IF(sl.user_id IS NULL, 0, 1) AS liked
		from shorts_view sv left join shorts_like sl
		on sv.id =sl.shorts_id and sl.user_id = #{userId}
		 <where>
        <if test="bookId != null">
            book_id = ${bookId}
        </if>
			 and
			 blind_yn = 0
    </where>

		order by id desc
		
	</select>

	<!-- main -->
	<select id="findAllBestShorts">
		select 
			st.id, 
			st.user_id, 
			us.nickname, 
			b.id bookId, 
			b.title bookTitle, 
			st.content, 
			count(st.id) likeCnt 
		from 
			shorts st join `user` us on st.user_id = us.id 
				join book b on st.book_id=b.id 
				join shorts_like sl on st.id = sl.shorts_id 
		where 
			st.blind_yn = 0 
		group by 
			st.id 
		order by 
			likeCnt desc 
		limit 10

	</select>

</mapper>