<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.BooklogRepository">
	
	<select id="findAll" resultType="BooklogView" parameterType="Long">
		select 
				  bl.id
				, bl.book_id 
				, bl.reg_date reg_date
				, b.title book_title
				, b.author book_author
				, b.cover book_cover
				, b.publisher book_publisher
		  from booklog bl left join book b 
		    on bl.book_id = b.id
		 where user_id = #{id}
		 order by id desc
	</select>

	<select id="findById" resultType="BooklogView" parameterType="Long">
		select 
				  bl.id
				, bl.book_id 
				, bl.public_yn
				, bl.reg_date reg_date
				, b.title book_title
				, b.author book_author
				, b.cover book_cover
				, b.publisher book_publisher
		  from booklog bl left join book b 
		    on bl.book_id = b.id
		 where bl.id = #{booklogId}
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="Booklog">
		insert into
			booklog
				(
					user_id
				   ,book_id
				   ,public_yn
				)
			values
				(
					#{userId}
				   ,#{bookId}
				   ,#{publicYn}
			)
	</insert>

	<update id="updatePublic" parameterType="Long">
		update 
				booklog 
		   set 
		   		public_yn = #{publicYn}
         where
		 		id = #{booklogId};
	</update>

	<delete id="deleteAllByIds" parameterType="Long">
		delete
		 
		from
			bookmark
		where
			id in
		<foreach collection="ids" item="ids" open="(" close=")" separator=",">
			#{ids}
		</foreach>
		<if test="userId != null">
			and user_id = #{userId}
		</if>

	</delete>

</mapper>