<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.CalendarRepository">

    <!-- 캘린더 일정 등록 -->
    <insert id="save">
        INSERT INTO calendar (start_date_time, end_date_time, title, location, user_id, with_id)
        VALUES (#{startDateTime}, #{endDateTime}, #{title}, #{location}, #{userId}, #{withId})
    </insert>
</mapper>
