<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.CommentRepository">


	<select id="findAll" resultType="ShortsCommentView">
		SELECT 
		*
		FROM shorts_comment_view
		<where>
			<if test="shortsId != null">
				shorts_id = #{shortId}
			</if>
		</where>
				<!-- <where>
			<if test="categoryId != null">
				category_id = #{categoryId}
			</if>
			<if test="query != null">
				and kor_name like '%${query}%'
			</if>
		</where>
		limit #{offset}, #{size} -->
	</select>

	
	<insert id="save"  useGeneratedKeys="true" keyProperty="id" parameterType="ShortsComment">
		INSERT INTO shorts_comment (
		shorts_id, user_id, content
		)
		VALUES (
		#{shortsId}, #{userId}, #{content}
		)
	</insert>









</mapper>