<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.DebateRoomRepository">

    <!-- 테이블 전체 컬럼 -->
    <sql id="debateRoom">

         reg_id
        , with_id
        , book_id
        , notice
        , deadline
        , reserve_date
    </sql>

    <!-- 게시글 저장 -->
    <insert id="save" parameterType="debateRoom" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO debate_room (
        <include refid="debateRoom" />
        ) VALUES (

        #{regId}
        , #{withId}
        , #{bookId}
        , #{notice}
        , #{deadline}
        , #{reserveDate}

        )
    </insert>

    <select id="findById" resultType="DebateRoom">
        SELECT
        *
        FROM debate_room
        WHERE id = #{id}
        <if test="withId != null">
            AND with_id = #{withId}
        </if>
    </select>

    <delete id="deleteAllById">
        UPDATE debate_room
        SET
        blind_yn = 1
        WHERE
            with_id = #{withId}
            AND id in
            <foreach collection="ids" item="ids" open="(" close=")" separator=",">
                #{ids}
            </foreach>
    </delete>

</mapper>

