<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.DebateTopicRepository">

    <select id="findById">
        select * from debate_topic
        where id = #{id}
    </select>

    <select id="findAll">
        select * from debate_topic
        where room_id = #{roomId}
    </select>

    <insert id="save">

        insert into debate_topic(room_id, content) values

            (
            #{roomId},
            #{content}

            )

    </insert>





</mapper>

