<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.DebateAttachmentRepository">

    <!-- 테이블 전체 컬럼 -->
    <sql id="debateAttachment">
        id
        , board_id
        , original_img
        , save_img
    </sql>


    <!-- 파일 정보 저장 -->
    <insert id="save" parameterType="list">
        INSERT INTO debate_attachment(
        <include refid="debateAttachment" />
        ) VALUES
        <foreach item="file" collection="list" separator=",">
            (
            #{file.id}
            , #{file.boardId}
            , #{file.originalImg}
            , #{file.saveImg}
            )
        </foreach>
    </insert>

    <select id="findAllById" parameterType="DebateAttachment">
        select
           *
        from debate_attachment
        where board_id = #{boardId}
    </select>


</mapper>

