<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.FreeBoardRepository">

	<resultMap id="FreeBoardViewResult" type="FreeBoardView">	
		<id property="id" column="id" />
		<result property="withId" column="with_id"/>
		<result property="userId" column="user_id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="regDate" column="reg_date"/>
		<result property="blindYn" column="blind_yn"/>
		<result property="userImg" column="user_img"/>
		<result property="nickname" column="nickname"/>
		<result property="commentCnt" column="comment_cnt"/>
		<result property="likeCnt" column="like_cnt"/>

		<collection property="imgs" column="id" ofType="String" select="selectFreeAttachmentForFreeBoardView"/>
	</resultMap>


		<select id="selectFreeAttachmentForFreeBoardView" resultType="String">
			SELECT img FROM free_attachment WHERE board_id = #{id}
		</select>

	
	<select id="findAll" resultMap="FreeBoardViewResult" >
		select 
			* 
		from 
			free_board_view
		where 
			with_id = #{withId}
			and
			blind_yn = 0
		<choose>
			<when test="sort == 'latest'">
				order by reg_date desc
			</when>
			<when test="sort == 'popular'">
				order by like_cnt desc
			</when>
		</choose>
		limit #{limit} offset #{offset}
	</select>


	<select id="count" resultType="int">
		select 
			count(id) 
		from 
			free_board_view
		where with_id = #{withId}
			and
		blind_yn = 0
	</select>

	<select id="findById" resultType="FreeBoard">
		select 
			* 
		from 
			free_board
		where id = #{freeBoardId}
			and
		blind_yn = 0
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into free_board
			(
				with_id,
				user_id,
				title,
				content,
				notice_yn
			)
		values
			(
				#{withId},
				#{userId},
				#{title},
				#{content},
				#{noticeYn}
			)
	</insert>

	<update id="remove">
		update 
			free_board

		set 
			blind_yn = 1

		where 
			id = #{id}
	</update>


	<update id="update">
		update 
			free_board

		set 
			title = #{title},
			content = #{content},
			notice_yn = #{noticeYn}

		where 
			id = #{id}
	</update>

</mapper>