<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.ShortsViewRepository">

	<select id="findAll" resultType="ShortsView" >
		select 
			* 
		from shorts_view

		<where>
			<if test="bookId != null">
				book_id = ${bookId}
			</if>
		</where>
	</select>

</mapper>