<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.UserRepository">
	
	
	<select id="findByEmail" resultType="User">
	
		select * from user where email = #{email}

	</select>

  	<select id="findById" resultType="User">
	
	  	select * from user where id = #{id}

	</select>
	<select id="findByNickName">

		select nickname from user where id = #{id}

	</select>

	<update id="update">
		update user 

		<set>
			nickname = #{nickname},
			intro = #{intro},
			birth_date = #{birthDate, jdbcType=DATE},
			gender = #{gender},
			email = #{email},
			<if test="img != null">
				img = #{img},
			</if>
		</set>
		where 
			id = #{id}
	</update>

	<insert id="save" parameterType="User">
		INSERT INTO user (
		intro, nickname, email, password, birth_date, gender, role
		)
		VALUES (
		#{intro}, #{nickname}, #{email}, #{birthDate, jdbcType=DATE}, #{password}, #{gender}, #{role}
		)
	</insert>

	<select id="countByEmail">
		select
			count(*) count
		from 
			user
		where
			email = #{email}
	</select>

	<select id="findByAll" resultType="User">
	select 
		*
	from
		user
	where
		    id = #{id} 
		and email like '%${email}%'
		and nickname like '%${nickname}%'
		and gender = ${gender}
		and birth_date like '${birthyear}%'
		and (join_date gt ${startDate}) between (join_date lt ${endDate}) 
		and withdraw_status = ${status}	
	</select>

</mapper>