<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.UserRepository">
	
	
	<select id="findByEmail" resultType="User">
	
		select * from user where email = #{email}

	</select>

  	<select id="findById" resultType="User">
	
	  	select * from user where id = #{id}

	</select>
	<select id="findByNickName">

		select nickname from user where id = #{id}

	</select>

	<update id="update">
		update user 

		<set>
			nickname = #{nickname},
			intro = #{intro},
			birth_date = #{birthDate, jdbcType=DATE},
			gender = #{gender},
			email = #{email},
			<if test="img != null">
				img = #{img},
			</if>
		</set>
		where 
			id = #{id}
	</update>

	<insert id="save" parameterType="User">
		INSERT INTO user (
		intro, nickname, email, password, birth_date, gender, role
		)
		VALUES (
		#{intro}, #{nickname}, #{email},  #{password}, #{birthDate}, #{gender}, #{role}
		)
	</insert>

<!-- ================================================================== -->
<!-- /user/join -->
	<select id="countByEmail">
		select
			count(*) count
		from 
			user
		where
			email = #{email}
	</select>

	<select id="countByNickname">
		select
			count(*) count
		from
			user
		where
			nickname = #{nickname}
	</select>

<!-- ================================================================= -->

	<select id="findByAll" resultType="User">
		select 
			*
		from
			user
		<where>
			<if test="params.id != null and params.id != '' ">
				id = #{params.id} 
			</if>
			<if test="params.email != null and params.email != '' ">
				and email like '%${params.email}%'
			</if>
			<if test="params.nickname != null and params.nickname != '' ">
				and nickname like '%${params.nickname}%'
			</if>
			<if test="params.gender != null and params.gender != '' ">
				and gender = #{params.gender}
			</if>
			<if test="params.birthyear != null and params.birthyear != '' ">
				and birth_date like '${params.birthyear}%'
			</if>
			<if test="params.startDate != null and params.startDate != '' ">
				and join_date <![CDATA[>=]]> #{params.startDate}
			</if>
			<if test="params.endDate != null and params.endDate != '' ">
				and join_date <![CDATA[<=]]> #{params.endDate}
			</if>
			<if test="params.status != null and params.status != '' ">
				and withdraw_status = #{params.status}	
			</if>
		</where>	
		order by join_date desc
		limit #{offset}, #{size}
	</select>

	<select id="findByIdShorts" resultType="BookshortsView">
		select 
			s.*, count(s.id) liked
		from
			shorts s
				left join
			shorts_like l ON s.id = l.shorts_id
		where
			s.user_id = #{id}
		group by s.id
		order by reg_date desc
	</select>

	
	<select id="count" resultType="Integer">
		select count(id)
		from user
		<where>
			<if test="params.id != null and params.id != '' ">
				id = #{params.id} 
			</if>
			<if test="params.email != null and params.email != '' ">
				and email like '%${params.email}%'
			</if>
			<if test="params.nickname != null and params.nickname != '' ">
				and nickname like '%${params.nickname}%'
			</if>
			<if test="params.gender != null and params.gender != '' ">
				and gender = #{params.gender}
			</if>
			<if test="params.birthyear != null and params.birthyear != '' ">
				and birth_date like '${params.birthyear}%'
			</if>
			<if test="params.startDate != null and params.startDate != '' ">
				and join_date <![CDATA[>=]]> #{params.startDate}
			</if>
			<if test="params.endDate != null and params.endDate != '' ">
				and join_date <![CDATA[<=]]> #{params.endDate}
			</if>
			<if test="params.status != null and params.status != '' ">
				and withdraw_status = #{params.status}	
			</if>
		</where>
	</select>

	<update id="updateWithdrawStatus">
		update user set 
			withdraw_status = #{status}
		where id in 
		<foreach collection="ids" item="ids" open="(" close=")" separator=",">
			#{ids}
		</foreach>
	</update>

</mapper>