<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.WithRepository">



	<select id="findAll" resultType="With" >
		select * from `with`

		<where>
			<if test="categoryId !=null">
				category_id IN
				<foreach collection="categoryId" item="arr"  open="(" close=")" separator=",">
					#{arr}
				</foreach>

			</if>

		</where>
	</select>

	<select id="count" resultType="int" >
		select count(id) from `with`
	</select>


	<select id="findById" resultType="With">

		select * from `with` where id = #{withId}

	</select>

	<select id="findByName" resultType="With">

		select * from `with` where name = '${withName}';

	</select>



	<insert id="save"  useGeneratedKeys="true" keyProperty="id" parameterType="With">
		INSERT INTO `with` (
		with_reg_id, face_yn, name, intro, img, `interval`, location, personnel
		)
		VALUES (
		#{withRegId},
		#{faceYn}, #{name}, #{intro}, #{img}, #{interval}, #{location}, #{personnel}
		)
	</insert>

<!--	<select id="findById" resultType="Category" parameterType="Long" >-->
<!--		select * from sub_category-->
<!--	<where>-->
<!--		<if test="id != null">-->
<!--			  cid = #{id};-->
<!--		</if>-->

<!--	</where>-->

<!--	</select>-->



</mapper>