<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.WithCategoryRepository">
	
	
<insert id="save" >
		INSERT INTO with_category (
			with_id, category_id
		)
	VALUES
	<foreach collection="withCategoryIdList" item="item"   separator=",">

		(#{withId}, #{item}
		)
	</foreach>

	</insert>

</mapper>