<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.withbooks.web.repository.WithViewRepository">

<!-- 위드 전체 목록 조회 -->
<select id="findAll" resultType="WithView">
    select
    b.*
    from
    with_category a
    right join `with_view` b on a.with_id = b.id
    <where>
        <if test="categoryIds != null">
             a.category_id IN
            <foreach collection="categoryIds" item="arr" open="(" close=")" separator=",">
                #{arr}
            </foreach>
        </if>

        <if test="query != null">
            and (name like '%${query}%' or location like '%${query}%')
        </if>

        <if test="faceYn != null">
            <if test="faceYn != 2">
                and face_yn=#{faceYn}
            </if>
        </if>



        <if test="id != null and id != ''">
            and id = ${id}
        </if>

        <if test="name != null and name != ''">
            and name like '%${name}%'
        </if>

        <if test="withTop != null and withTop != ''">
            and with_top like '%${withTop}%'
        </if>
    </where>
    
        group by
            b.id

    <choose>
        <when test="sort == 'latest'"> 
            order by b.reg_date desc
        </when>

        <when test="sort == 'oldest'">
            order by b.reg_date asc
        </when>
    </choose>

    limit #{limit} offset #{offset}
    
        
        





<!--  카테고리 아이디 where 필요-->
</select>

  <select id="findAllByWithId" resultType="java.lang.String">
    select
          b.name category_name
    from
          with_category  a join book_category b
          on a.category_id = b.id
    where
          a.with_id =  #{withId}

  </select>


    <select id="findAllByWithIds" resultType="WithView">


        select * from with_view
        <where>
            id in
            <foreach collection="withIds" item="arr" open="(" close=")" separator=",">
                #{arr}
            </foreach>

        </where>
    </select>


</mapper>

