<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        main{
            --width-8: 414px;
        }

        .bookmark-icon{
            --top-1: -4px;
            --left-1: 4px;
            --icon-size-5: 48px;
        }

        .book-img{
            --width-8: 156px;
            --height-4: 208px;
        }

        .book-name-font-size{
            font-size: 30px;
        }
        .font-color-ac{
            color: #767676;
        }

        .background-color-none{
            background-color:transparent;
        }
    </style>
    <script src="/js/book/detail.js"></script>
</head>
<body>

<main class="min-width:8 p:3" layout:fragment="main">
    <section class="p:7 pos:relative  d:flex flex-direction:column md:flex-direction:row lg:flex-direction:column jc:center ai:center w:100p border-radius:10 bg-color:main-1 fl-wrap:wrap">
        <h1 class="d:none " th:text="${book['title']}">도둑 맞은 집중력</h1>

        <div class="pos:relative" >
            <!-- TODO 회원인지 아닌지 체크해서 회원 아닌 경우 -> 북마크 라벨을 d:none 처리. -->
            <!-- List<entity>가 아닌 Map<String, Object>로 받음 -->
            <label id="book-mark"
            sec:authorize="isAuthenticated()"
            class="bookmark-icon icon cursor:pointer icon:bookmark_simple_fill icon-color:main-1 icon-size:5 position:absolute top:1 left:1"
                th:classappend="${{book['marked']}} > 0 ? 'icon-color:main-5':''" >
                 <input type="checkbox" class="d:none"/>
            </label>
                <img class="book-img h:4 w:3 " src="/img/bookshorts/detail/도둑맞은집중력.png" th:src="${book['cover']}" alt="책이미지">
        </div>
        <span class="md:ml:8 lg:ml:0">
            <div class="d:flex flex-direction:column">
                <div class="mt:6  fw:3 al-self:center book-name-font-size mt:2" th:text="${book['title']}">도둑 맞은 집중력 돌아와!!!!!!!자지마!!!!</div>
                <span class="d:flex al-self:center">
                    <span class="d:flex">
                        <div class="fs:2 font-color-ac " th:text="${book['author']}">마틴 푸크너</div>
                        <div class="fs:2 font-color-ac ">(지은이),</div>
                    </span>
                    <span class="d:flex ml:1">
                        <div class="fs:2 font-color-ac ">허진</div>
                        <div class="fs:2 font-color-ac ">(옮긴이)</div>
                    </span>
                </span>
            </div>
            <div class="w:100p">
                <div class="d:flex jc:center mt:6 w:100p">
                    <div><a class="deco deco-size:4 mr:1 deco-mr:0 icon:house fs:3" href="" th:text="${book['publisher']}">어크로스</a></div>
                    <div class="ml:10 deco deco-size:4 mr:1 deco-mr:0 icon:calendar_blank fs:3" th:text="${#dates.format(book.pubDate, 'yyyy-MM-dd')}">2023-04-28</div>
                </div>
                <div class="d:flex jc:center mt:6">
                    <div class="deco deco-size:4 deco-mr:0 mr:2 icon:stack fs:3">인문/사회학</div>
                    <div class="d:flex ai:center"> 
                        <span class="ml:10 deco deco-size:4 mr:2 deco-mr:0 icon:shopping_cart_simple  fs:3"
                        th:text="${#numbers.formatInteger(book.price,3,'COMMA')}"></span>원
                    </div>
                </div>
                <div class="d:flex jc:center mt:6">
                    <div class="deco deco-size:4 mr:2 deco-mr:0 icon:text_align_left fs:3" th:text="${book['isbn13']}">9791167740984</div>
                    <!-- <div class="ml:10 deco deco-size:4 mr:2 deco-mr:0 icon:text_t fs:3">464p</div><span></span> -->
                </div>
            </div>
        </span>
    </section>

    <section class="mt:10 p:3  border-radius:8 border border-color:base-3">
        <h1 class="deco deco-mr:1 mb:3 deco icon:shopping_cart_simple fs:4 fw:3">구매하기 / 대여하기</h1>
        <div class="mt:2"><a class="fs:5 fw:3" href="" th:href="${book['purchaseLink']}"  target="_blank">알라딘 구매 링크</a></div>
    </section>

    <section class="mt:10 p:3 border-radius:9 border border-color:base-3">
        <div class="d:flex jc:space-between px:1 ai:center">
            <h1 class="deco deco-mr:1 mb:3 deco icon:file fs:4 fw:3">소개 간단히 보기</h1>
            <div><a class="deco-size:3 deco-pos:right color:main-6 fs:1 fw:1 deco icon:arrow_right" href="" th:href="@{/shorts/list(id=${book['id']})}">북쇼츠 보러 가기</a></div>
        </div>

        <p class="mt:2 fs:2" th:text="${book['description']}">▶ 『돈의 속성』 300쇄 기념 개정증보판 발행!<br>▶ 『돈의 속성』 300쇄 기념, 김승호 회장의 추가 메시지를 담다!<br>▶ 중국, 일본, 대만, 태국 4개국 출간!이 책은 초판 발행 후, 경제경영 필도서로 자리매김한 『돈의 속성』 300쇄 기념 개정증보판이다.300쇄에 맞춰 코로나19로 바뀐 경제상황과 돈에 관한 김승호 회장의 추가 메시지를 담았다.</p>
    </section>

    <section class="mt:10 p:3 border-radius:9 border border-color:base-3"
    th:unless="${#lists.isEmpty(withList)}"
    >
        <div class="d:flex jc:space-between px:1 ai:center">
        <h1 class="fs:4 fw:3 mb:3 deco icon:user">이 책으로 토론한 위드</h1>
        <!-- <div class="deco-size:3 deco-pos:right color:main-6 fs:1 fw:1 deco icon:arrow_right"><a class="fs:1 color:main-6 " href="">더보기</a></div> -->
        </div>
        <section class="mt:3 d:flex" th:each="with : ${withList}">
            <h1 class="d:none" th:text="${with.name}">책에 퐁당</h1>
            <div><img class="h:2 w:2 bd-radius:6" src="/img/bookshorts/detail/뚱랑이.png" th:src="${with.img}" alt="위드이미지"></div>
            <div class="ml:3 d:flex flex-direction:column w:100p">
                <a th:href="@{/with/detail(id=${with.id})}">
                <div class="fs:5 fw:3 " th:text="${with.name}">책에 퐁당</div>
                </a>

                <div class="d:flex mt:2">
                    <span class="deco icon:user deco-size:4 mr:2 deco-mr:0 d:flex">
                        <div class="fs:1 color:base-5" >[[${with.memberCnt}]]명</div>
                        <div class="fs:1 color:base-5">/[[${with.personnel}]]명</div>
                    </span>
                    <div class="deco icon:calendar_check deco-size:4 mr:2 deco-ml:2 deco-mr:0 fs:1 color:base-5">월 [[${with.interval}]]회</div>
                    <div class="deco icon:map_pin deco-size:4 mr:2 deco-ml:2 deco-mr:0 fs:1 color:base-5">[[${with.location}]]</div>
                </div>
                <p class="fs:3  mt:2 of:l
                hidden"><span class="ln-clamp:2" th:text="${with.intro}">월 1회 책을 읽고 생각을 나누는 어쩌구 저쩌구 어쩌구 저쩌구</span></p>
            </div>
        </section>
    </section>

</main>

</body>
</html>