<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/var.css" />
        <link rel="stylesheet" type="text/css" href="/icon/icon.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="/css/util/background-color.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/css/util/border-color.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/css/util/border-radius.css"
        />
        <link rel="stylesheet" type="text/css" href="/css/util/progress.css" />
        <link rel="stylesheet" type="text/css" href="/css/util/color.css" />
        <link rel="stylesheet" type="text/css" href="/css/main-menu-bar.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="/css/util/text-indent.css"
        />
        <link rel="stylesheet" type="text/css" href="/css/withtil.css" />
        <!-- <link rel="stylesheet" type="text/css" href="/css/icon.css" /> -->
        <link
            rel="stylesheet"
            type="text/css"
            href="/css/util/icon-color.css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/components/comment/comment.css" type="text/css">
        <style>
            * {
                font-family: "Noto Sans KR", sans-serif;
                font-size: 15px;

                color: var(--color-base-9);
            }
        </style>
    </head>
    <body>
        <div class="md:d:flex lg:d:flex min-height:100vh">
            <!-- header부분 -->
            <div th:replace="~{inc/header}"></div>

            <!-- main-menu-bar-tablet 부분 -->
            <div th:replace="~{inc/main-menu-bar-tablet}"></div>

            <!-- main-menu-bar-desktop 부분 -->
            <div th:replace="~{inc/main-menu-bar-desktop}"></div>
            <!-- main-menu-bar-mobile 부분 -->
            <div th:replace="~{inc/main-menu-bar-mobile}"></div>

            <!-- main 부분 -->
            <div layout:fragment="main" class="w:100p pb:11"></div>

            <!-- 댓글 부분 -->
            <!-- <div th:replace="~{shorts/comment}"></div> -->

<!--             여백 부분-->
            <div th:replace="~{inc/white-space}"></div>
        </div>
    </body>
</html>
