<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
    <nav
        class="position:fixed bottom:1 left:1 w:100p md:d:none lg:d:none z-index:3"
    >
        <h1 class="d:none">메인메뉴</h1>
        <ul
            class="main-menu-list d:flex main-menu-width bg-color:sub-1 align-items:center main-menu-height border-top main-menu-padding justify-content:space-between"
        >
            <li>
                <a href="/with/list" class="d:flex fl-dir:column ai:center">
                    <span class="menu-icon icon:with"></span>
                    <span class="main-menu-font">위드</span>
                </a>
            </li>
            <li>
                <a
                    href="/shorts/list"
                    class="d:flex fl-dir:column ai:center"
                >
                    <span class="menu-icon icon:book-short"></span>
                    <span class="main-menu-font">북쇼츠</span>
                </a>
            </li>
            <li>
                <a href="/booklog/list" class="d:flex fl-dir:column ai:center">
                    <span class="menu-icon icon:my-library"></span>
                    <span class="main-menu-font">내서재</span>
                </a>
            </li>
            <li>
                <a href="/book/list" class="d:flex fl-dir:column ai:center">
                    <span class="menu-icon icon:book-search"></span>
                    <span class="main-menu-font">책검색</span>
                </a>
            </li>
            <li>
                <a href="/my/index"  class="d:flex fl-dir:column ai:center" th:href="${#authentication.principal ne 'anonymousUser'}?'/my/index':'/login'">
                    <span class="menu-icon icon:my"></span>
                    <span class="main-menu-font">마이</span>
                </a>
            </li>
        </ul>
    </nav>
</html>
