<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .white-space-section,
        .white-space-section>div {
            --height-10: 750px;
        }

        .comment-group {
            --right-1: 36px;
            --top-1: 24px;
        }

        .comment-input-box {
            --left-1: 24px;
            --bottom-1: 24px;
        }

        .comments {
            --height-10: 560px;
        }
    </style>

</head>

<body>
    <section class="white-space-section lg:d:block d:none md:d:none min-w:8 pos:relative height:10">
        <h1 class="d:none">여백</h1>
        <div class=" h:10">
            <!-- <section class="pos:fixed top:1 right:1 h:10 bg-color:base-1 comment-group w:7 d:flex fl-dir:column bd bd-radius:4 p:3">
                <h1 class="d:none">북쇼츠 댓글</h1>
                <div class="comments color-base-9 h:10 of:hidden">
                    <div class="border-bottom pb:3 pt:6 pr:2 pl:2">
                        <div
                            class="pb:2 deco icon icon:dots_three_outline_vertical_fill deco-size:2 w:100p deco deco-pos:right jc:space-between mr:3 fw:3">
                            김지수
                        </div>
                        <div class="pl:2 pr:2">
                            뭐만하면 남탓~ 보인다
                            보여.ㅁㄴㅇㄹㄴㅁㅇㄻㄴㅇㄻㄴㅇ9ㄹㄴㅁㅇㄻㄴㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.
                        </div>
                    </div>

                    <div class="border-bottom pb:3 pt:3 pr:2 pl:2">
                        <div
                            class="pb:2 deco icon icon:dots_three_outline_vertical_fill deco-size:2 w:100p deco deco-pos:right jc:space-between mr:3 fw:3">
                            박지수
                        </div>
                        <div class="pl:2 pr:2">뭐만하면 남탓~ 보인다 보여..</div>
                    </div>
                    <div class="border-bottom pb:3 pt:3 pr:2 pl:2">
                        <div
                            class="pb:2 deco icon icon:dots_three_outline_vertical_fill deco-size:2 w:100p deco deco-pos:right jc:space-between mr:3 fw:3">
                            이기주
                        </div>
                        <div class="pl:2 pr:2">박경인짱 123</div>
                    </div>

                    <div class="border-bottom pb:3 pt:3 pr:2 pl:2">
                        <div
                            class="pb:2 deco icon icon:dots_three_outline_vertical_fill deco-size:2 w:100p deco deco-pos:right jc:space-between mr:3 fw:3">
                            김지수
                        </div>
                        <div class="pl:2 pr:2">
                            뭐만하면 남탓~ 보인다
                            보여.ㅁㄴㅇㄹㄴㅁㅇㄻㄴㅇㄻㄴㅇ9ㄹㄴㅁㅇㄻㄴㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.
                        </div>
                    </div>

                    <div class="border-bottom pb:3 pt:3 pr:2 pl:2">
                        <div
                            class="pb:2 deco icon icon:dots_three_outline_vertical_fill deco-size:2 w:100p deco deco-pos:right jc:space-between mr:3 fw:3">
                            김지수
                        </div>
                        <div class="pl:2 pr:2">
                            뭐만하면 남탓~ 보인다
                            보여.ㅁㄴㅇㄹㄴㅁㅇㄻㄴㅇㄻㄴㅇ9ㄹㄴㅁㅇㄻㄴㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.
                        </div>
                    </div>

                    <div class="border-bottom pb:3 pt:3 pr:2 pl:2">
                        <div
                            class="pb:2 deco icon icon:dots_three_outline_vertical_fill deco-size:2 w:100p deco deco-pos:right jc:space-between mr:3 fw:3">
                            김지수
                        </div>
                        <div class="pl:2 pr:2">
                            뭐만하면 남탓~ 보인다
                            보여.ㅁㄴㅇㄹㄴㅁㅇㄻㄴㅇㄻㄴㅇ9ㄹㄴㅁㅇㄻㄴㄹㅇㅁㄴㅇㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㅇㅁㄴㅇㄹㄴㅁㄻㄴㅇㄻㄴ.ㄹㄴㅁㄻㄴㅇㄻㄴ.
                        </div>
                    </div>
                </div>
                
                <section class="d:flex jc:center mt:4">
                    <h1 class="d:none">댓글 페이저</h1>
                    <ul class="n-pager">
                        <li class="active"><a>1</a></li>
                        <li><a>2</a></li>
                        <li><a>3</a></li>
                    </ul>
                </section>

                <div class="w:6 comment-input-box pos:absolute bottom:1 left:1 bg-color:base-1 ">
                    <form action="" class="d:flex fl-dir:column jc:center ai:end">
                        <textarea type="text" class="n-textbox" placeholder="Basic Textbox" name="comment"></textarea>
                        <button class="ml:2 n-btn n-btn-color:main n-btn-size:1 mt:1">등록</button>
                    </form>
                </div>
            </section> -->
            
    </section>
</body>

</html>