<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/board/list.js" defer></script>
    <title>list</title>

    <style>
        #notice-box {
            position: fixed;
            top:0;
            left:0;
            bottom:0;
            right:0;
            background-color: rgba(0,0,0,0.1);
            z-index: 5;
            display : flex;
            justify-content: center;
            align-items: center;

            visibility: hidden;
            opacity: 0;
            transition: all 0.8s;
        }

        #notice-box.active {
            visibility: visible;
            opacity: 1;
        }

        /* 기본 스타일 */
        select {
            width: 40%; /* 처음에는 너비를 100%로 설정 */
            box-sizing: border-box; /* padding과 border를 너비에 포함 */
        }

        /* 미디어 쿼리 - 화면 크기가 768px 이상일 때 */
        @media (min-width: 1200px) {
            select {
                width: 60%; /* 화면이 커지면 너비를 50%로 조절 */
            }
        }

        .profile-img{
            --height-1: 18px;
            --width-1: 18px;
        }

        .n-btn {
            --btn-height-2: 36px;
            --btn-padding-2: 4px 0px;
            --btn-font-size-2: 14px;
            --btn-border-radius-2: 8px;
        }
    </style>
</head>

<body>

    <main class="pb:11 px:4 flex-grow:1" layout:fragment="main">

        <div class="d:flex mt:3 mr:1">
            <a class="" href="" th:href="@{/debate/list(m=3,wid=${param.wid})}">
<!--            <a class="m:1" href="javascript:history.go(-1);">-->
                <span class="n-btn n-btn-size:2 n-btn:void pl:1 pr:5 fs:1" style="color: var(--color-base-5);">
                    <span class="icon icon:caret_left icon-color:base-4 icon-size:2">아이콘</span>
                    토론 서재
                </span>
            </a>
        </div>

        <div class="d:flex fl-dir:column gap:8 mt:4">
            <section>
                <h1 class="d:none">토론주제 목록</h1>
                <div class="d:flex jc:center">
                    <label class="d:none" for="selectBox">토론주제</label>
                    <select class="bd bd-radius:3 lg:w:8 p:1" name="languages" id="selectBox"> <!--onchange="redirectToController(this.value)">-->
                        <option class="" value=" ">💡 토론주제</option>
                        <option class="" th:each="val : ${topicList}"
                                th:value="${val.id}" th:utext="${val.content}" th:selected="${selectedOption == val.id}">컨텐츠</option>
                        <!--<option value="">경인이는 나카무라인가 무라카미인가</option>
                        <option value="">다진쓰는 진짜 깡패인가</option>-->
<!--                        <span th:text="${val.content}"></span>-->
                    </select>
                </div>
            </section>

            <section id="notice-box" class="zi:5">
                <h1 class="d:none">토론방 공지사항</h1>
                <div id="notice-contents" class="d:flex w:8 bg-color:base-2 p:4 bd border-radius:3">
                    <div class="d:flex h:6">
                        <span class="icon icon:megaphone icon-size:3 icon-color:accent-2">알림아이콘</span>
                        <div class="w:6 mx:2">
                            <p class="fs:3" th:utext="${debateRoom.notice}">공지사항 컨텐츠</p>
                        </div>
                    </div>
                    <div><span id="close-notice" class="icon icon:x icon-size:3">닫기</span></div>
                </div>
            </section>

            <section class="pos:fixed right:4 lg:right:1/5 top:1/5 md:top:2 lg:top:2 zi:4 " >
                <h1 class="d:none">공지사항 버튼</h1>
                <div class="bg-rgb:base-9 bd border-radius:full p:3">
                    <span id="open-notice" class="icon icon:megaphone icon-size:4 icon-color:base-4" th:title="${'공지사항'}">알림</span>
                </div>
            </section>

            <section class="px:1 mt:9">
                <h1 class="d:none">토론방 목록</h1>
                <ul class="d:flex flex-direction:column">
                    <li th:each="b : ${list}">
                        <h1 class="d:none">토론방</h1>
                        <div class="d:flex fl-direction:row-reverse h:3 gap:2 border-bottom border-color:base-3 py:4 ">
                            <div th:if="${b.saveImg}" class="w:2 md:w:3 lg:w:4">
                                <img src="/image/with/debate/cat.png" th:src="@{|/image/debate/board/${b.saveImg}|}" alt="이미지" class="obj-fit:cover w:2 md:w:3 lg:w:4 h:10p border-radius:3">
                            </div>
                            <div class="d:flex flex-direction:column flex-grow:1 gap:2">
                                <div>
                                    <div class="fs:1 md:fs:2 lg:fs:3 fw:1 ln-clamp:1 color:base-6"><a href="" th:href="@{/board/detail(m=3,wid=${param.wid},rid=${param.rid},id=${b.id})}">"<span class="" th:text="${b.topic}">재홍이는 진짜 일뽕인가</span>"</a></div>
                                </div>
                                <div>
                                    <hi class="fs:2 md:fs:3 lg:fs:4 fw:2"><a href="" th:href="@{/board/detail(m=3, wid=${param.wid},rid=${param.rid},id=${b.id})}" th:text="${b.title}" class="ln-clamp:1">"재홍이는 바지인가"</a></hi>
                                </div>
                                <div class="d:flex ai:center gap:1">
                                    <div class="d:flex ai:center">
                                        <img class="profile-img h:1 w:1 bd-radius:12" th:src="${b.userImg}"/>
                                        <div class="fs:1 md:fs:2 lg:fs:2 color:base-5 ml:1 ln-clamp:1" th:text="${b.nickname}">뉴렉이</div>
                                    </div>
                                    <div class="d:flex ai:center">
                                        <div class="icon icon:calendar_blank icon-size:2"></div>
                                        <div class="fs:1 md:fs:2 lg:fs:2 color:base-5 ml:1 ln-clamp:1" th:text="${#temporals.format(b.regDate, 'yyyy.MM.dd HH:mm')}">2024.02.20.18:25</div>
                                    </div>
                                    <div class="d:flex ai:center">
                                        <div class="icon icon:chat_circle_text icon-size:2"></div>
                                        <div class="fs:1 md:fs:2 lg:fs:2 color:base-5 ml:1 ln-clamp:1" >댓글 <span th:text="${b.cmtCnt} == null ? 0 : ${b.cmtCnt}">2</span>건</div>
                                    </div>
                                </div>
                                <div class="pb:1 md:ln-clamp:1 ln-clamp:3">
                                    <div class="fs:1 md:fs:2 lg:fs:2" th:utext="${b.content}">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam velit adipisci quae nisi ad possimus,
                                        dolores dolor ex quas molestias temporibus quidem aperiam cupiditate excepturi pariatur
                                        amet! Ex, sunt eius.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <div class="reg-btn pos:fixed right:4 lg:right:1/5 bottom:10 md:bottom:9 lg:bottom:9 zi:5"
                 th:if="${#authentication.principal ne 'anonymousUser' and #authentication.principal.id eq user.id and isWithMember != null}">
                <h1 class="d:none">토론카드 작성하기 버튼</h1>
                <div class="bg-color:main-5 border-radius:full p:3">
                    <a href="reg" th:href="@{/board/reg(m=3,wid=${param.wid},rid=${param.rid})}" th:title="${'토론카드 작성하기'}"><span class="icon icon:plus icon-size:5 icon-color:base-1">버튼</span></a>
                </div>
            </div>
        </div>

    </main>

</body>

</html>