<!DOCTYPE html>
<html lang="en">
    <body>
        <aside class="n-panel n-side-panel">
            <nav class="n-panel n-menu-panel">
              <h1 class="text-align:center mb:4">메뉴</h1>
              <ul class="of:hidden">
                <li class="bg-color:base-2 bd-radius:1">
                  <button title="HOME"
                    class="deco deco-mr:3 deco-color:base-7 icon:house_fill d:flex ai:center p:2 pl:3 font-size:2 font-weight:2 cursor:pointer white-space:nowrap"
                  >
                    <span class="d:none lg:d:inline"><b>HOME</b></span>
                  </button>
                </li>
                <li>
                  <button title="책 관리"
                    class="bg-color:main-3 w:100p deco deco-mr:3 deco-color:base-7 icon:squares_four_fill d:flex ai:center p:2 pl:3 font-size:2 font-weight:2 cursor:pointer white-space:nowrap"
                  >
                    <span class="d:none lg:d:inline"><b>책 관리</b></span>
                  </button>


                  <span class="toggle hover-color">
                    <button title="DB 책 관리"
                      class="bg-color:main-2 w:100p deco deco-mr:3  deco-color:base-7 icon:arrow_right d:flex ai:center p:2 pl:5 font-size:1 font-weight:2 cursor:pointer white-space:nowrap"
                    >
                      <a class="w:100p text-align:left" href="list"><span class="d:none lg:d:inline"><b>DB 책 관리</b></span></a>
                    </button>
                    <button title="API 책 등록"
                      class="bg-color:main-1 w:100p deco deco-mr:3 deco-color:base-7 icon:arrow_right d:flex ai:center p:2 pl:5 font-size:1 font-weight:2 cursor:pointer white-space:nowrap"
                    >
                      <a class="w:100p text-align:left" href="aladinList"><span class="d:none lg:d:inline"><b>API 책 등록</b></span></a>
                    </button>
                    <button title="베스트셀러"
                      class="bg-color:main-1 w:100p deco deco-mr:3 deco-color:base-7 icon:arrow_right d:flex ai:center p:2 pl:5 font-size:1 font-weight:2 cursor:pointer white-space:nowrap"
                    >
                      <a class="w:100p text-align:left" href="list"><span class="d:none lg:d:inline"><b>베스트셀러</b></span></a>
                    </button>
                  </span>


                </li>
                <li>
                  <button title="위드 관리"
                    class="deco deco-mr:3 deco-color:base-7 icon:squares_four_fill d:flex ai:center p:2 pl:3 font-size:2 font-weight:2 cursor:pointer white-space:nowrap"
                  >
                    <span class="d:none lg:d:inline"><b>위드 관리</b></span>
                  </button>
                </li>
                <li>
                  <button title="북쇼츠 관리"
                    class="deco deco-mr:3 deco-color:base-7 icon:squares_four_fill d:flex ai:center p:2 pl:3 font-size:2 font-weight:2 cursor:pointer white-space:nowrap"
                  >
                    <span class="d:none lg:d:inline"><b>북쇼츠 관리</b></span>
                  </button>
                </li>
                <li>
                  <button title="회원 관리"
                    class="deco deco-mr:3 deco-color:base-7 icon:squares_four_fill d:flex ai:center p:2 pl:3 font-size:2 font-weight:2 cursor:pointer white-space:nowrap"
                  >
                    <span class="d:none lg:d:inline"><b>회원 관리</b></span>
                  </button>
                </li>
              </ul>
            </nav>
          </aside>

    </body>
</html>
