<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/with/debate/board/detail.js" defer></script>
    <title>Document</title>
    <style>
        .profile-image,
        .writer{
        --width-1: 16px;
        --height-1: 16px;
        }

        .comment-area{
        --gap-10:80px;
        }

        .delete-button{
        --right-1:10px;
        --bottom-1:26px;
        }

        main{
        --gap-10:80px;
        }

        /* 수정 삭제 드랍다운 */
        .n-dropdown {
         --dropdown-min-width: 110px;
         --dropdown-padding: 4px;
         --dropdown-border-radius: 8px;
         --dropdown-border: 1px solid var(--color-base-3);
         --dropdown-z-index: 900;

         --dropdown-offset: 2px; /* 드롭다운과 드롭다운 버튼(트리거)의 떨어진 정도 */

         --dropdown-item-padding: 4px 6px;
         --dropdown-item-border-radius: 4px;
        }

        .rg-comment-hover:hover {
            background-color: var(--color-base-2);

            border-radius: 100px;
        }

        /* 삭제 모달창 */
        .n-modal {
            transition: transform 0.13s, opacity 0.13s;
        }

        .modal-fade-in {
            animation: modal-fade-in 0.13s forwards;
        }

        .modal-fade-out {
            animation: modal-fade-out 0.13s forwards;
        }

        @keyframes modal-fade-in {
            from {
                opacity: 0;
                transform: translate(50%, -48%) scale(0.97);
            }
            to {
                opacity: 1;
                transform: translate(50%, -50%) scale(1);
            }
        }

        @keyframes modal-fade-out {
            from {
                opacity: 1;
                transform: translate(50%, -50%) scale(1);
            }
            to {
                opacity: 0;
                transform: translate(50%, -48%) scale(0.97);
            }
        }

        .backdrop {
            position: fixed;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.2);
        }

        #delete-btn {
            --btn-outline-border: 1px solid var(--color-accent-1);
            color: var(--color-accent-1);
        }
    </style>
</head>
<body>
    <main class="min-width:8 pb:10 px:3 flex-grow:1" layout:fragment="main">

        <div class="d:flex mt:3 mr:1">
            <a class="m:1" href="" th:href="@{/with/debate/board/list(wid=${param.wid}, rid=${param.rid})}">
                <span class="n-btn n-btn:void pl:2 fs:1" style="color: var(--color-base-5);">
                    <span class="icon icon:caret_left icon-color:base-4 icon-size:2 mx:1">아이콘</span>
                    토론 카드
                </span>
            </a>

            <section class="d:flex ml:auto">
                <h1 class="d:none">북쇼츠 팝업버튼</h1>
                <div class="n-dropdown">
                    <button id="dropdown-btn" class="rg-comment-hover icon icon:dots_three_outline_vertical_fill icon-color:base-5 icon-size:2 my:3">
                        점점점
                    </button>

                    <ul id="dropdown-list" class="w:1" style="transform: translateX(-100px)">
                        <li>
                            <button type="button" th:onclick="|location.href='@{/with/debate/board/edit(wid=${param.wid}, rid=${param.rid}, id=${param.id})}'|">
                                <span class="va:middle deco icon:pencil_simple deco:size:1 deco-mr:1 icon-color:base-6 fs:1">
                                    수정하기
                                </span>
                            </button>
                        </li>
                        <li>
                            <button id="modal-btn" type="button" class="n-btn n-btn-type:void">
                                <span class="va:middle deco icon:trash deco-size:3 deco-mr:1 icon-color:base-6 fs:1">
                                    삭제하기
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </section>

            <div id="modal" class="n-modal d:none" tabindex="-1">
                <div class="n-font:subtitle text-align:center">
                    <span class="fs:2 fw:2">🚨 해당 포스트를 삭제하시겠습니까?</span>
                    <div class="fs:1 pt:2">삭제된 포스트는 다시 복구할 수 없습니다.</div>
                </div>
                <div class="mt:4 d:flex jc:center gap:2">
                    <button id="close-btn" type="button" class="n-btn w:1 n-btn:outline fw:1">취소</button>
                    <form id="delete-form">
                        <div><input type="hidden" name="id" th:value="${param.id}"></div>
                        <div><input type="hidden" name="rid" th:value="${param.rid}"></div>
                        <div><input type="hidden" name="wid" th:value="${param.wid}"></div>

                        <button id="delete-btn" type="button"
                                class="n-btn w:1 n-btn:outline fw:1">삭제</button>
                    </form>
                </div>
            </div>
            <div id="modal-backdrop" class="backdrop d:none"></div>
        </div>


        <div class="card-content mx:5 pt:1">
            <div class="card-note-container bd-bottom pb:5">
<!--                <div class="pos:fixed right:2 bottom:9 zi:5">-->
<!--                    <h1 class="d:none">수정버튼</h1>-->
<!--                    <div class="bg-color:main-5 border-radius:full p:3">-->
<!--                        <a href="reg" th:href="@{/with/debate/board/edit(wid=${param.wid}, rid=${param.rid}, id=${param.id})}" th:title="${'토론카드 수정하기'}"><span class="icon icon:pencil_simple icon-size:5 icon-color:base-1">버튼</span></a>-->
<!--                    </div>-->
<!--                </div>-->

                <section class="card-note ">
                    <h1 class="d:none">토론카드 컨텐츠</h1>
                    <div class="mb:3 bd-bottom">
                        <section class="d:flex fl-dir:column ai:center gap:1 mx:9 pt:2 pb:5">
                            <div class="fs:1 color:base-4" th:text="${book.title}">도둑맞은 집중력</div>
                            <div class="fs:3">"<span th:text="${topic.content}">재홍이는 진짜 일뽕인가</span>"</div>
                            <h1 class="fs:6" th:text="${board.title}">일뽕재홍</h1>
                            <div class="d:flex gap:1 jc:center ai:center">
                                <span class="d:flex jc:center">
                                    <img class="profile-image w:1 h:1" src="/image/shorts/profile.png" --th:src="${userImg}" alt="이치고경인">
                                </span>
                                <span class="gap:1" >
                                    <i class="fs:1">by</i>
                                    <span class="fs=1" --th:text="${nickname}">이치고경인</span>
                                </span>
                            </div>
                            <span class="fs:1" th:text="${#temporals.format(board.regDate,'yyyy-MM-dd HH:mm:ss')}">2024-03-27 23:03:26</span>
                        </section>
                    </div>
                    <div class="card-note-media">
                        <section class="d:flex fl-dir:column jc:center ai:center mt:8 mb:2">
                            <h1 class="d:none">토론카드 이미지</h1>
                            <div class="d:flex jc:center" th:if="${imgList}">
                                <img
                                        th:each="i : ${imgList}"
                                        class="w:6"
                                        src=""
                                        th:src="@{|/image/debate/board/${i.saveImg}|}"
                                        alt="도둑맞은 집중력 이미지">
                            </div>
                        </section>
                    </div>
                    <div class="card-note-body  px:6 mt:5">
                        <section class="h:100p ln-h:1.5 px:4 py:3 txt-al:left of-y:auto pb:5">
                            <h1 class="d:none">토론카드 코멘트</h1>
                            <div th:utext="${board.content}">
                                <p>
                                    우리는 집중하지 못하고 산만해지는 것이 흔히 스마트폰과 같은 디지털 기기에 대해 자제력을 발휘하지 못하는 개인의 실패라고 생각한다. 그러나 그렇지 않다. 저자는 현재 우리가 겪고 있는 집중력 문제가 현대 사회의 비만율의 증가와 유사하다고 설명한다.
                                    정크푸드를 중심으로 한 식품 공급 체계와 생활 방식의 변화가 비만율 증가를 만든 것처럼, 집중력 위기의 광범위한 증가도 현대 사회 시스템이 만들어낸 유행병과 같다는 것이다.
                                </p>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    우리는 집중하지 못하고 산만해지는 것이 흔히 스마트폰과 같은 디지털 기기에 대해
                                    자제력을 발휘하지 못하는 개인의 실패라고 생각한다. 그러나 그렇지 않다.
                                    저자는 현재 우리가 겪고 있는 집중력 문제가 현대 사회의 비만율의 증가와 유사하다고 설명한다.
                                    정크푸드를 중심으로 한 식품 공급 체계와 생활 방식의 변화가 비만율 증가를 만든 것처럼,
                                    집중력 위기의 광범위한 증가도 현대 사회 시스템이 만들어낸 유행병과 같다는 것이다.
                                </p>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    우리는 집중하지 못하고 산만해지는 것이 흔히 스마트폰과 같은 디지털 기기에 대해
                                    자제력을 발휘하지 못하는 개인의 실패라고 생각한다. 그러나 그렇지 않다.
                                    저자는 현재 우리가 겪고 있는 집중력 문제가 현대 사회의 비만율의 증가와 유사하다고 설명한다.
                                    정크푸드를 중심으로 한 식품 공급 체계와 생활 방식의 변화가 비만율 증가를 만든 것처럼,
                                    집중력 위기의 광범위한 증가도 현대 사회 시스템이 만들어낸 유행병과 같다는 것이다.
                                </p>
                                <p>
                                    <br>
                                </p>
                            </div>
                        </section>
                    </div>
                </section>
            </div>

            <div class="card-note-comment mt:2">
                <section class="comment-list py:2 px:3 bd-bottom"  th:with="valid = ${#authentication.principal ne 'anonymousUser' ? #authentication.principal.id : -1}">
                    <h1 class="d:none">댓글목록</h1>
                    
                    <div th:each="cmt : ${debateCommentList}"> 
                        <section th:if="${valid != cmt.userId}">
                            <h1 class="d:none">타인 댓글</h1>
                            <div class="d:flex fl-dir:column py:2">
                                <a class="d:flex ai:center" href="">
                                    <div class="d:flex ai:center"><img class="profile-image w:1 h:1" th:src="@{|${cmt.userImg}|}" alt="프로필사진"></div>
                                    <div class="writer fs:2 fw:3 h:10p ml:1" th:text="${cmt.userNickname}">뉴렉이</div>
                                </a>
                                <div class="comment-area mt:2 ml:1 mr:10">
                                    <div class="fs:2 bg-color:base-2 bd-radius:4 bd-tl-radius:0 px:3 pt:2 pb:3 w:fit-content" th:utext="${cmt.content}">세상은 이미 끔찍하고 지독하지만 앞으로는 더욱 악화될 것이다. 기적적인 해법을 무작정 기다릴 것이 아니라 이제 각자가 자신 자신을 책임져야 할 때다. </div>
                                    <div class="d:none"><button>삭제</button></div>
                                    <div class="fs:1 color:base-6 ml:1 mt:1" th:text="${#temporals.format(cmt.regDate,'yyyy-MM-dd HH:mm')}">오후 10:46</div>
                                </div>
                            </div>
                        </section>
                   

                        <section class="my-comment " th:if="${valid == cmt.userId}">
                            <h1 class="d:none">내 댓글</h1>
                            <div class="d:flex fl-dir:column py:2">
                                <a class="d:none" href="">
                                    <div><img class="profile-image w:1 h:1" th:src="@{|/image/user/${cmt.userImg}|}" alt="프로필사진"></div>
                                    <div class="writer fs:2 fw:3 h:1 ml:1">뉴렉이</div>
                                </a>
                                <div class="comment-area ml:6 mt:2 mr:1 pos:relative d:flex fl-dir:column ai:end">
                                    <div class="fs:2 bg-color:main-2 bd-radius:4 bd-tr-radius:0 px:3 pt:2 pb:2 mb:1 w:fit-content" th:utext="${cmt.content}">세상은 이미 끔찍하고 지독하지만 앞으로는 더욱 악화될 것이다. 기적적인 해법을 무작정 기다릴 것이 아니라 이제 각자가 자신 자신을 책임져야 할 때다. </div>
                                    <div class="delete-button pos:absolute right:1 bottom:1"></div>
                                    <div class="d:flex ai:center">
                                        <div class="fs:1 color:base-6  mt:1" th:text="${#temporals.format(cmt.regDate,'yyyy-MM-dd HH:mm')}">오후 10:46</div>
                                        <button type="button" class="csr:pointer comment-delete-btn icon icon:trash icon-color:accent-3 icon-size:3" th:data-commentId="${cmt.id}">삭제</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
                <section class="pt:3 px:3  d:inline-block w:10p">
                    <h1 class="d:none">댓글 입력란</h1>
                    <form class="d:flex ">
                        <div class="flex-grow:1">
                            <label>
                                <textarea id="new-comment" class="w:10p bd-radius:4 comment-content bg-color:base-2 fl-grow:1 px:4 py:2 resize:none" rows="1"></textarea>
                            </label>
                        </div>

                        <div><input type="hidden" id="new-comment-board-id" th:value="${board.id}"></div>
                        <div><button type="button" id="comment-create-btn" class="cursor:pointer d:inline-block py:2 ml:3 bg-color:main-5 bd-radius:4 px:3 color:base-1">등록</button></div>
                    </form>
                </section>


            </div>
        </div>
    </main>
<script>

</script>
</body>


</html>