<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>

<body>

    <main layout:fragment="main">

        <div class="d:flex fl-dir:column gap:10 mt:8">

            <section class="d:none">
                <h1 class="d:none">토론주제 목록</h1>
                <div class="d:flex jc:center">
                    <label class="d:none" for="lang">토론주제</label>
                    <select class="bd w:6" name="languages" id="lang">
                        <option class="" value="">토론주제</option>
                        <option value="">재홍이는 바지인가</option>
                        <option value="">경인이는 나카무라인가 무라카미인가</option>
                        <option value="">다진쓰는 진짜 깡패인가</option>
                    </select>
                </div>
            </section>

            <section class="px:3">
                <h1 class="d:none">토론방 목록</h1>
                <ul class="d:flex flex-direction:column gap:2">


                    <li th:each="b : ${list}">
                        <h1 class="d:none">토론방</h1>
                        <div class="d:flex fl-direction:row-reverse h:3 gap:1">
                            <div>
                                <img src="/image/with/debate/cat.png" alt="이미지" class="obj-fit:fill max-height:100p">
                            </div>
                            <div class="d:flex flex-direction:column gap:2 fl-grow:1 pl:2">
                                <div>
                                    <h1 class="fs:5 fw:3"><a href="" th:text="${b.title}">"재홍이는 바지인가"</a></h1>
                                </div>
                                <div class="d:flex ai:center gap:1">
                                    <div class="d:flex ">
                                        <span class="icon icon:user icon-size:2"></span>
                                        <span class="fs:1 color:base-5 ml:1 " th:text="${b.nickname}">뉴렉이</span>
                                    </div>
                                    <div class="d:flex ">
                                        <span class="icon icon:calendar_blank icon-size:2"></span>
                                        <span class="fs:1 color:base-5 ml:1 " th:text="${b.regDate}">2024.02.20.18:25</span>
                                    </div>
                                    <div class="d:flex ">
                                        <span class="icon icon:chat_circle_text icon-size:2"></span>
                                        <span class="fs:1 color:base-5 ml:1 " >댓글 <span th:text="${b.cmtCnt}">2</span>건</span>
                                    </div>
                                </div>
                                <div class="ln-clamp:3">
                                    <span th:text="${b.content}">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam velit adipisci quae nisi ad possimus,
                                        dolores dolor ex quas molestias temporibus quidem aperiam cupiditate excepturi pariatur
                                        amet! Ex, sunt eius.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>



                </ul>
            </section>
        </div>

    </main>

</body>

</html>