<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Gordon's To-do List</title>
  <meta content="Help managing daily activities. Be organized." name="description">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
  <!--
    <link rel="stylesheet" href="./fullcalendar/main.min.css">
    <script src="./fullcalendar/main.min.js" defer></script>
  -->
  <script defer src="/js/calendar/todo.js"></script>
</head>

<body>
<h3>Gordon's To-do List</h3>
<div class="todo-grid-parent">

  <div>
    <div class="todo-input todo-block">
      <span>To-do: </span>
      <input id="todoInputTextbox" placeholder="Enter new to-do" type="text">
      <span>Category: </span>
      <input id="categoryInput" list="categoryList" placeholder="Enter category" type="text">
      <!--      <datalist id="categoryList">-->
      <!--        <option value="Personal"></option>-->
      <!--        <option value="Work"></option>-->
      <!--      </datalist>-->
      <span>Date:</span>
      <input id="dateInput" type="date">
      <span>Time:</span>
      <input id="timeInput" type="time">
      <span>Link:</span>
      <input id="urlInput" type="text">
      <span></span>
      <button id="addBtn">Add</button>
      <span></span>
      <button id="sortBtn">Sort by Date</button>
      <span></span>
      <label><input id="shortlistBtn" type="checkbox"> Incomplete First </label>

    </div>

    <div class="todo-block todoTable-block">
      <div class="itemsPerPage">
        <span>items per page</span>
        <select id="itemsPerPageSelectElem">
          <option>5</option>
          <option>10</option>
          <option>20</option>
        </select>
      </div>

      <table id="todoTable">
        <tr>
          <td></td>
          <td>Date</td>
          <td>Time</td>
          <td>to-do</td>
          <td>
            <select id="categoryFilter">
            </select>
          </td>
          <td></td>
        </tr>
      </table>

      <div class="pagination-pages">

      </div>
    </div>
  </div>

  <div class="todo-calendar  todo-block">
    <div id="calendar"></div>
  </div>

</div> <!-- class="todo-grid-parent" -->

<div class="todo-overlay" id="todo-overlay">
  <div class="todo-modal" id="todo-modal">
    <div class="todo-input todo-block">
      <span>To-do: </span>
      <input id="todo-edit-todo" placeholder="Enter new to-do" type="text">
      <span>Category: </span>
      <input id="todo-edit-category" list="categoryList" placeholder="Enter category" type="text">
      <datalist id="categoryList">
        <option value="Personal"></option>
        <option value="Work"></option>
      </datalist>
      <span>Date:</span>
      <input id="todo-edit-date" type="date">
      <span>Time:</span>
      <input id="todo-edit-time" type="time">
      <span>Link:</span>
      <input id="todo-edit-url" type="text">
      <span></span>
      <button id="changeBtn">Save Change</button>
    </div>
  </div>
  <div class="todo-modal-close-btn" id="todo-modal-close-btn">X</div>
</div>

</body>

</html>
