<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{inc/layout.html}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<main layout:fragment="main" class=" flex-grow:1">

<section class="border-bottom  pb:2 mb:2  ">
    <h1 class="d:none">게시글</h1>
    <div class="d:flex ai:center mb:3">
        <div class="w:1 h:1 mr:2">
            <img src="/image/shorts/uie.jpg" class=" w:100p h:100p border-radius:5 ">
        </div>
        <div>
            <div  >뉴렉이</div>
            <div  class="fs:2 color:base-3">10분전</div>
        </div>

        <div class="ml:auto icon icon:dots_three_outline_vertical_fill	" ></div>
    </div>

    <div>
        <h1 class="fs:5 fw:3 mb:3 " >sf</h1>
        <p class="mb:2" >what i like what i like what ilike what i like what i likewhat i like what i like what ilike what i like what i like
            what i like what i like what i like what i like what i likewhat i like what i like what ilike what i like what i like
            what i like what i like what i like what i like what i likewhat i like what i like what ilike what i like what i like</p>

        <div class="border border-color:base-3 w:100p  h:4 border-radius:5">

            <img src="/image/shorts/">
        </div>
    </div>

    <div class="mt:2 d:flex ai:center">
        <span class="deco d:inline-block border py:1 px:3 border-radius:7	 icon:thumbs_up mr:3">12</span>
        <span class="deco  d:inline-block  py:1 px:3 border-radius:7 border icon:chat">12</span>
    </div>

    <section>
        <h1 class="d:none">댓글</h1>

        <div class="d:flex ai:center mb:3">
            <div class="w:1 h:1 mr:2">
                <img src="/image/shorts/uie.jpg" class=" w:100p h:100p border-radius:5 ">
            </div>
            <div>
                <div  >뉴렉이</div>
                <div  class="fs:2 color:base-3">10분전</div>
            </div>

            <div class="ml:auto icon icon:dots_three_outline_vertical_fill	" ></div>
        </div>
        <div>
           좋아요 굿 : )
        </div>

    </section>

</section>
</main>
</body>
</html>