<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{inc/layout.html}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
        <script src="/js/booklog/detail.js"></script>
        <!-- <script src="/js/booklog/detail-vue.js"></script> -->
        <style>
            .menu-hover:hover {
                background-color: var(--color-base-2);
                border-radius: 100px;
            }
            .dropdown-transformx {
                transform: translateX(-140px);
            }
            .box-shadow-custom {
                box-shadow: 2px 4px 14px 0 rgba(157, 157, 157, 14%);
            }
        </style>
    </head>
    <body>
        <main layout:fragment="main">
            <header class="booklog-style mb:3 pt:3 px:2 md:pt:5 lg:pt:5">
                <h1 class="d:none">북로그</h1>

                <section id="book-info">
                    <h1 class="d:none">책 정보</h1>

                    <a href="list" class="m:2">
                        <span class="n-btn n-btn:void mb:3 pl:0 pr:2">
                            <span class="icon icon:arrow_left icon-size:3 mx:1">아이콘</span>
                            목록으로
                        </span>
                    </a>

                    <div class="d:flex px:2 pos:relative">
                        <form action="delete" name="deletebooklog" method="post">
                            <input class="booklog-id d:none" name="booklog-id" th:value="${booklog.id}" />
                        </form>
                        <img class="h:4 border-color:base-2 mr:4 box-shadow-custom" src="/image/shorts/detail/푸바오.png" th:src="${booklog.bookCover}" alt="책 이미지" />
                        <div class="d:flex fl-dir:column fl-grow:1 position:relative">
                            <label class="n-btn n-toggle n-toggle-type:outline-box n-toggle-size:2 margin-bottom:3 font-size:1">
                                <span class="icon icon:lock_simple icon-size:2 margin-right:1">아이콘</span>
                                <span class="public" th:text="${{booklog.publicYn}} == 1 ? '공개' : '비공개'" th:data-public="${booklog.publicYn}">공개</span>
                                <input name="public-yn" type="checkbox" class="public-yn d:none" th:value="${booklog.publicYn}" />
                            </label>
                            <div class="fs:3 fw:3 pb:4" th:text="${booklog.bookTitle}">푸바오, 언제나 사랑해</div>
                            <div class="d:flex fs:1 pb:2">
                                <div class="mr:1 fs:1 color:base-4 min-w:fit-content">저자</div>
                                <div class="min-w:fit-content" th:text="${booklog.bookAuthor}">에버랜드 동물원</div>
                            </div>
                            <div class="d:flex fs:1">
                                <div class="mr:1 fs:1 color:base-4">출판사</div>
                                <div th:text="${booklog.bookPublisher}">민음사</div>
                            </div>

                            <div id="dropdown-menu" class="log-info-menu n-dropdown position:absolute right:1">
                                <button type="button" class="cursor:pointer menu-hover"><span class="icon icon:dots_three_outline_vertical_fill icon-size:2">버튼</span></button>
                                <ul class="dropdown-transformx">
                                    <li class="booklog-delete n-dropdown-item d:flex p:1"><span class="icon icon:trash mr:2">아이콘</span>삭제</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <!-- margin 겹침 현상 때문에 빈 테이블 요소 추가 -->
            <table></table>
            <section id="log-section" class="booklog-style d:flex fl-dir:column px:2 py:3">
                <h1 class="d:none">로그</h1>
                <!-- <form action="/api/booklog/reg" method="post" enctype="multipart/form-data" novalidate> -->
                <div class="log-list px:2">
                    <div class="bd-top py:3" th:each="log : ${logs}">
                        <div class="log-info d:flex mb:4 pos:relative">
                            <form action="deletelog" name="deletelogs" method="post">
                                <input class="d:none" name="booklog-id" th:value="${log.booklogId}" />
                                <input type="hidden" name="logs-id" th:value="${log.id}" />
                            </form>
                            <div class="fl-grow:1 fw:3" th:text="${#temporals.format(log.regDate, 'yyyy-MM-dd')}">2024.01.01</div>

                            <div id="dropdown-menu" class="logs-menu n-dropdown position:absolute right:1">
                                <button type="button" class="cursor:pointer menu-hover"><span class="icon icon:dots_three_outline_vertical_fill icon-size:2">버튼</span></button>
                                <ul class="dropdown-transformx">
                                    <li class="log-delete n-dropdown-item d:flex p:1"><span class="icon icon:trash mr:2">아이콘</span>삭제</li>
                                    <li class="log-edit n-dropdown-item d:flex p:1"><span class="icon icon:pencil_simple mr:2">아이콘</span>수정하기</li>
                                </ul>
                            </div>
                        </div>
                        <div class="d:flex fl-dir:column md:fl-dir:row lg:fl-dir:row">
                            <div class="h:5 text-align:center mb:8 md:mb:0 lg:mb:0" th:if="${log.img}">
                                <img class="h:100p mr:5" th:src="@{|/image/booklog/${log.img}|}" src="/image/shorts/다진/스크린샷 2024-01-13 235253.jpg" alt="로그이미지" />
                            </div>
                            <div class="fs:3 py:3 md:py:0 lg:py:0" th:utext="${log.content}">Bust nevermore above word i till reply or oer.</div>
                        </div>
                    </div>
                </div>
                <!-- </form> -->
            </section>
            <div id="add-log" class="pos:fixed right:2 bottom:9 zi:5">
                <h1 class="d:none">새로운 북로그 작성하기 버튼</h1>
                <div class="bg-color:main-5 border-radius:full p:3">
                    <div class="icon icon:plus icon-size:5 icon-color:base-1">로그 추가</div>
                </div>
            </div>
        </main>
    </body>
</html>
