<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{inc/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main layout:fragment="main">
        <section>
            <h1 class="d:none n-tab-grow">내서재 탭바</h1>

            <ul class="n-tabbar">
                <li class="w:5p">
                    <button class="w:100p font-weight:3">북로그</button>
                </li>
                <li class="w:5p">
                    <button class="w:100p color:base-3 font-weight:3">북마크</button>
                </li>

            </ul>

        </section>

    </main>
    
</body>
</html>