<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/main-menu.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <script src="/js/with/with.js"></script>

    <style>
        * {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 15px;

            color: var(--color-base-8);
        }


        .puppy {

            background-image: url(/image/with/puppy2.png);
            width: 100px;
            height: 100px;
        }

    </style>
</head>

<body>
<main layout:fragment="main" class="px:4">

    <section class="with-list-sort-con d:flex ai:center br pt:5 pb:4 pl:3 pr:3 ">
        <h1 class="d:none">정렬,검색</h1>



        <ul class="w:full d:flex jc:start gap:2 ">

            <li>
                <select name="space" id="pet-select" class=" h:100p text-align:center ">
                    <option value="m1">전체</option>
                    <option value="m1">서울</option>
                    <option value="m2">대구시</option>
                </select>
            </li>
            <li class="d:flex ai:center">
                <label class="n-toggle n-toggle-type:outline-box ">
                    대면
                    <input type="radio" class="d:none" name="category" checked/>
                </label>
            </li>
            <li class="d:flex ai:center">
                <label class="n-toggle n-toggle-type:outline-box">
                    비대면
                    <input type="radio" class="d:none" name="category"/>
                </label>
            </li>
            <li class="d:flex ai:center with-list"  id="search-li">
                <button type="button" id="search-btn"
                        class="n-btn  n-btn-type:outline h:100p deco-pos:right	border-color:main-5 w:content-fit pr:3 pl:3 deco icon:plus deco-size:3	">
                    <span class="mr:auto ml:1">상세검색</span></button>
            </li>

        </ul>

    </section>
    <div id="search-detail" class="pl:3"></div>

    <section class="with-list">
        <h1 class="d:none n-tab-grow">전체위드 / 나의위드</h1>

        <ul class=" n-tabbar">
            <li class="active 	w:5p">
                <button class="w:100p font-weight:3">전체 위드</button>
            </li>
            <li class="	w:5p">
                <button class="w:100p color:base-3 font-weight:3	" id="container1">나의 위드</button>
            </li>

        </ul>

    </section>

    <section class="with-list">
        <ul class="n-list n-card-list pt:3 pl:2 pr:2 with-list" id="with-list">
            <li class="d:flex h:4 gap:3 n-item:shadow ">

                <h1 class="d:none">위드 리스트</h1>


                <img data-v-01ad9008="" src="/image/with/puppy2.png"
                     class="obj-fit:cover   w:2 margin-top:10  margin-bottom:auto    border-radius:8 va:middle max-width:100p max-height:100p">

                <!-- 젤 큰박스에 사이즈 주기 -->

                <div class="d:flex flex-direction:column gap:2 fl-grow:1 pl:2 ">
                    <ul class="d:flex gap:1 flex-wrap:wrap  ">
                        <li class="border bd-color:base-3 border-radius:11 fs:1  pl:3 pr:3 pt:1 pb:1"><span class="">대면</span>
                        </li>
                        <li class="border bd-color:base-3 border-radius:11 fs:1  pl:3 pr:3 pt:1 pb:1 background-color:main-6 ">
                            <span class="	color:base-1">소설</span></li>
                        <li class="border bd-color:base-3 border-radius:11 fs:1  pl:3 pr:3 pt:1 pb:1 background-color:main-6">
                            <span class=" color:base-1">인문</span>
                        </li>
                    </ul>
                    <div class="fs:5 fw:3">책에퐁당</div>
                    <div class="d:flex ai:center gap:1 flex-wrap:wrap">
                        <!-- 텍스트 중앙정렬 line-height로 주기  -->
                        <div class="d:flex ">
                            <span class="icon icon:chat_circle  icon-size:2"></span>
                            <span class="fs:1 color:base-5 ml:1  ">5명/12명</span>
                        </div>
                        <span>·</span>
                        <div class="d:flex">
                            <span class="icon icon:chat_circle  icon-size:2"></span>
                            <span class="fs:1 color:base-5 ml:1">월 1회</span>
                        </div>
                        <span>·</span>
                        <div class="d:flex">
                            <span class="icon icon:chat_circle  icon-size:2"></span>
                            <span class="fs:1 color:base-5 ml:1">노고산동</span>
                        </div>
                    </div>
                    <div class=" ln-clamp:3">
                    <span class=" ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam velit adipisci quae nisi ad possimus, 
                        dolores dolor ex quas molestias temporibus quidem aperiam cupiditate excepturi pariatur 
                        amet! Ex, sunt eius.
                    </span>

                    </div>
                    <!-- <div class="text-align:right"><a href="" class="color:base-4 fs:1">더보기></a></div> -->

                </div>


            </li>

            <li class="d:flex h:4 gap:3 n-item:shadow ">

                <h1 class="d:none">위드 리스트</h1>

                <img data-v-01ad9008="" src="/image/with/puppy2.png"
                     class="obj-fit:cover   w:2 margin-top:10  margin-bottom:auto    border-radius:8 va:middle max-width:100p max-height:100p">

                <!-- 젤 큰박스에 사이즈 주기 -->

                <div class="d:flex flex-direction:column gap:2 fl-grow:1 pl:2 ">
                    <ul class="d:flex gap:1 flex-wrap:wrap  ">
                        <li class="border bd-color:base-3 border-radius:11 fs:1  pl:3 pr:3 pt:1 pb:1"><span class="">대면</span>
                        </li>
                        <li class="border bd-color:base-3 border-radius:11 fs:1  pl:3 pr:3 pt:1 pb:1 background-color:main-5 ">
                            <span class="	color:base-1">소설</span></li>
                        <li class="border bd-color:base-3 border-radius:11 fs:1  pl:3 pr:3 pt:1 pb:1 background-color:main-6">
                            <span class=" color:base-1">인문</span>
                        </li>
                    </ul>
                    <div class="fs:5 fw:3">책에퐁당</div>
                    <div class="d:flex ai:center gap:1 flex-wrap:wrap">
                        <!-- 텍스트 중앙정렬 line-height로 주기  -->
                        <div class="d:flex ">
                            <span class="icon icon:chat_circle  icon-size:2"></span>
                            <span class="fs:1 color:base-5 ml:1  ">5명/12명</span>
                        </div>
                        <span>·</span>
                        <div class="d:flex">
                            <span class="icon icon:chat_circle  icon-size:2"></span>
                            <span class="fs:1 color:base-5 ml:1">월 1회</span>
                        </div>
                        <span>·</span>
                        <div class="d:flex">
                            <span class="icon icon:chat_circle  icon-size:2"></span>
                            <span class="fs:1 color:base-5 ml:1">노고산동</span>
                        </div>
                    </div>
                    <div class=" ln-clamp:3">
                    <span class=" ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam velit adipisci quae nisi ad possimus, 
                        dolores dolor ex quas molestias temporibus quidem aperiam cupiditate excepturi pariatur 
                        amet! Ex, sunt eius.
                    </span>

                    </div>
                    <!-- <div class="text-align:right"><a href="" class="color:base-4 fs:1">더보기></a></div> -->

                </div>


            </li>

        </ul>

    </section>


</main>
</body>

</html>