<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{inc/layout.html}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 15px;

        color: var(--color-base-9);
      }

      input[type='text']:invalid,
      input[type='number']:invalid {
        border-color: var(--color-base-4);
      }

      .with-name label::after {
        margin-top: 6px;
        color: var(--color-accent-1);
        display: block;
        width: 100%;
        height: 20px;
      }
      .with-name label:has(input:invalid)::after {
        content: '두 글자 이상 입력 필수입니다.';
        color: var(--color-main-5);
      }

      .with-member label::after {
        margin-top: 6px;
        color: var(--color-accent-1);
        display: block;
        width: 100%;
        height: 20px;
      }
      .with-member label:has(input:invalid)::after {
        content: '';
        color: red;
      }
      .placeholder-center::placeholder {
        text-align: center;
      }

      #with-reg .n-textbox {
        --textbox-border-color-focus: var(--color-main-5);
      }
      #with-reg .n-toggle-type\:outline-box {
        border: none;
      }
    </style>
    <script src="/js/with/reg.js"></script>
  </head>

  <body>
    <main layout:fragment="main" class="n-container mx:auto">
      <section class="pb:4 pt:4 pl:4 pr:4 with-reg-page" id="with-reg">
        <h1 class="d:none">위드 등록 페이지</h1>
        <form
          action="/with/reg"
          class="n-form2"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="d:flex jc:end">
            <button type="submit" id="btn" class="n-btn mt:3 bg-color:main-5">
              등록
            </button>
          </div>
          <p class="fw:3 fs:5 mr:3 ml:3 mb:4 mb:8">
            <span class="font-size:7"> 북버그(유저명) 님,</span><br />
            위드를 만들어볼까요?
          </p>

          <section class="n-item n-item:shadow mb:4 pt:4 pb:4 pl:5 pr:5">
            <div class="mb:2 fw:3">위드대표사진</div>
            <div class="d:flex">
              <div
                class="bd bd-color:main-1 mr:3 w:3 h:3 bd-radius:4 bg-color:base-2"
              >
                <label class="d:flex justify-content:center ai:center h:100p">
                  <span class="icon icon:plus d:inline-block">사진</span>
                  <input
                    type="file"
                    name="with-img-file"
                    class="n-textbox n-textbox-type:underline n-textbox-label:top d:none"
                  />
                </label>
              </div>
              <div class="preview-img"></div>
            </div>
          </section>

          <section
            class="n-item n-item:shadow mb:4 pt:4 pb:4 pl:5 pr:5 face-section"
          >
            <div class="mb:2 fw:3">대면/비대면</div>
            <ul class="w:full d:flex jc:start gap:2">
              <li>
                <label class="n-toggle n-toggle-type:outline-box">
                  대면
                  <input
                    type="radio"
                    class="d:none"
                    name="faceYn"
                    value="1"
                    required
                  />
                </label>
              </li>
              <li>
                <label class="n-toggle n-toggle-type:outline-box">
                  비대면
                  <input
                    type="radio"
                    class="d:none"
                    name="faceYn"
                    value="0"
                    required
                  />
                </label>
              </li>
            </ul>
            <div class="d:none face-alert color:accent-1">
              대면 또는 비대면을 선택 해주세요 !
            </div>
          </section>

          <section class="n-item n-item:shadow mb:4 pt:4 pb:4 pl:5 pr:5">
            <div class="mb:2 fw:3">위드명</div>
            <div class="with-name d:flex">
              <label>
                <input
                  type="text"
                  class="n-textbox n-textbox-type:underline n-textbox-label:top"
                  placeholder="위드명"
                  required
                  maxlength="5"
                  minlength="2"
                  name="name"
                />
              </label>
              <button
                class="valid-btn n-btn bg-color:base-4 ml:5 fw:1"
                disabled
              >
                중복확인
              </button>
            </div>
            <div class="name-alert-true color:accent-1 d:none">
              이미 사용중인 위드명입니다.
            </div>

            <div class="name-alert-false color:main-5 d:none">
              좋은 위드명이네요 !
            </div>
          </section>

          <section
            class="n-item n-item:shadow mb:4 pt:4 pb:4 pl:5 pr:5 category-section"
          >
            <div class="mb:2 fs:3 fw:3">
              주요 카테고리<span class="color:base-5 fs:2 fw:1">
                (최대 3개)</span
              >
            </div>
            <ul class="w:full d:flex jc:start gap:2 fl-wrap:wrap">
              <li th:each=" c : ${categories}">
                <label class="n-toggle n-toggle-type:outline-box">
                  [[${c.name}]]
                  <input
                    type="checkbox"
                    class="d:none"
                    th:id="${c.id}"
                    name="category-id"
                    th:value="${c.id}"
                  />
                </label>
              </li>
            </ul>
            <div class="d:none category-alert color:accent-1">
              카테고리는 최대 3개 까지만 가능합니다
            </div>
          </section>

          <section class="n-item n-item:shadow mb:4 pt:4 pb:4 pl:5 pr:5">
            <div class="mb:2 fw:3">토론 주기</div>

            <label>
              <div>
                <input
                  type="number"
                  class="n-textbox n-textbox-type:underline n-textbox-label:top w:2 text-align:center mr:1 ml:1"
                  min="1"
                  max="50"
                  name="interval"
                  required
                />
                <span> 회</span>
                <div class="interval-alert color:accent-1 d:none">
                  최대 50회 까지 입력 가능합니다.
                </div>
              </div>
            </label>
          </section>

          <section class="n-item n-item:shadow mb:4 pt:4 pb:4 pl:5 pr:5">
            <div class="mb:2 fw:3">위드 정원</div>

            <label>
              <div>
                <input
                  type="number"
                  min="1"
                  class="n-textbox n-textbox-type:underline n-textbox-label:top w:2 placeholder-center text-align:center"
                  placeholder="정원"
                  name="personnel"
                  required
                />
                <span> 명</span>
                <div class="personnel-alert color:accent-1 d:none">
                  최대 100명 까지 입력 가능합니다.
                </div>
              </div>
            </label>
          </section>

          <section class="n-item n-item:shadow mb:4 pt:4 pb:4 pl:5 pr:5">
            <h1 class="d:none">모임장소</h1>
            <div class="mb:2 fw:3">
              <label for="h_area1">모임장소</label>
            </div>
            <div class="w:5 d:flex">
              <select
                name="w_area1"
                onChange="cat1_change(this.value, w_area2)"
                class="w_area1 n-select mr:3"
              >
                <option>-선택-</option>
                <option value="서울">서울시</option>
                <option value="부산">부산시</option>
                <option value="대구">대구시</option>
                <option value="인천">인천시</option>
                <option value="광주">광주시</option>
                <option value="대저">대전시</option>
                <option value="울산">울산시</option>
                <option value="강원">강원도</option>
                <option value="경기">경기도</option>
                <option value="경남">경상남도</option>
                <option value="경북">경상북도</option>
                <option value="전남">전라남도</option>
                <option value="전북">전라북도</option>
                <option value="제주">제주도</option>
                <option value="충남">충청남도</option>
                <option value="충북">충청북도</option>
              </select>
              <select name="w_area2"  class="n-select ">
                <option>-선택-</option>
              </select>
            </div>
          </section>

          <section class="n-item n-item:shadow mb:4 pt:4 pb:4 pl:5 pr:5">
            <h1 class="d:none">위드소개</h1>
            <div class="mb:2 fw:3">위드소개(선택)</div>
            <div class="d:flex ai:center">
              <label for="with-intro"></label
              ><textarea
                id="with-intro"
                class="n-textbox px:3 py:3 overflow:hidden"
                placeholder="위드를 간단히 소개 해보세요 !"
                name="intro"
              ></textarea>
            </div>
          </section>
        </form>
      </section>
    </main>
  </body>
</html>
