<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.44/dist/style.css">
    <link rel="stylesheet" type="text/css" href="/css/var.css">
    <link rel="stylesheet" type="text/css" href="/css/color.css">
    <link rel="stylesheet" type="text/css" href="/css/withtil.css">
    <title>Document</title>

    <style>
        .field-error {
            border-color: red;
            color: red;
        }
        *{
            font-family: "Noto Sans KR", sans-serif;
        }
    </style>

    <script>
        window.addEventListener('load', function(){
            let message = document.querySelector(".message").dataset.message;
            console.log(message);
            if(message)
                alert(message);
        })
    </script>
</head>
<body>
<main layout:fragment="main" class="d:flex w:100p">

    <div class="message bg-color:main-3 lg:w:9 lg:mr:4 lg:d:inline-block d:none"
    th:data-message="${message}"
    ></div>


    <div class="flex-grow:1 lg:d:flex lg:jc:center lg:fl-dir:column	">
        <div class="ml:3 mr:3 my:8">
            <div class="mb:3  fs:9 color:main-6">환영합니다,</div>
            <span> 위드북스에 가입하여 함께하는 독서를 즐겨 보세요 !</span>
        </div>

        <section class="ml:3 mr:3">
            <h1 class="d:none">로그인</h1>
            <form class="mb:6" method="post" action="/loginProc">
                <label class="mb:6">
                    <span class="fs:2 fw:3 ">이메일</span>
                    <input type=text name="email" class="n-textbox n-textbox-type:underline n-textbox-label:top">
                    <div class="field-error"></div>
                </label>

                <label class="my:8">
                    <span class="fs:2 fw:3 ">비밀번호</span>
                    <input type=password name="password" class="n-textbox n-textbox-type:underline n-textbox-label:top">
                    <div class="field-error"></div>
                </label>
                <label class="my:8">
                    <input type="checkbox" name="log-id" class="n-toggle n-toggle-type:check-box" />
                    <span class="font-size:2 font-weight:2 d:flex gap:1">
                          <span>아이디 저장</span>
                    </span>
                </label>

                <div class="my:8 ml:auto" th:if="${session.errorMessage}"  >
                    <p th:text="${session.errorMessage}" class="color:accent-1">
                        아이디 또는 비밀번호가 유효하지 않습니다.
                    </p>
                   </div>
                <button type="submit" class="n-btn w:100p">로그인</button>
            </form>
            <nav class="d:flex jc:center my:8">
                <a href="" class="bd-right pr:5">아이디 찾기</a>
                <a href="" class="bd-right pr:5 pl:5">비밀번호 찾기</a>
                <a href="/user/join" class="pl:5">회원가입</a>
            </nav>

            <!-- <div class="d:flex ai:center jc:center my:8">
                <div class="w:3p h:0 border d:inline-block"></div>
                <div class=" mx:9">간편 로그인</div>
                <div class="w:3p h:0 border d:inline-block"></div>
            </div>
            <nav class="d:flex jc:center">
                <a class="w:1 h:1 mx:6" href="">
                    <img src="/image/login/naverIcon.png" class="w:100p h:100p">
                </a>
                <a class="w:1 h:1 mx:6" href="">
                    <img src="/image/login/googleIcon.png" class="w:100p h:100p">
                </a>
            </nav> -->

     </section>
    </div>
</main>
</body>
</html>
