.border-radius\:5,
.bd-radius\:5{
    border-radius: var(--border-radius-5) !important;
}

.border-radius\:6,
.bd-radius\:6{
    border-radius: var(--border-radius-6) !important;
}

.border-radius\:7,
.bd-radius\:7{
    border-radius: var(--border-radius-7) !important;
}

.border-radius\:8,
.bd-radius\:8{
    border-radius: var(--border-radius-8) !important;
}

.border-radius\:9,
.bd-radius\:9{
    border-radius: var(--border-radius-9) !important;
}

.border-radius\:10,
.bd-radius\:10{
    border-radius: var(--border-radius-10) !important;
}

.border-radius\:11,
.bd-radius\:11{
    border-radius: var(--border-radius-11) !important;
}

.border-radius\:12,
.bd-radius\:12{
    border-radius: var(--border-radius-12) !important;
}

/* border-top-right-radius */
.border-top-right-radius\:5,
.bd-tr-radius\:5{ 
    border-top-right-radius: var(--border-radius-5) !important; 
}

.border-top-right-radius\:6,
.bd-tr-radius\:6{ 
    border-top-right-radius: var(--border-radius-6) !important; 
}

.border-top-right-radius\:7,
.bd-tr-radius\:7{ 
    border-top-right-radius: var(--border-radius-7) !important; 
}

.border-top-right-radius\:8,
.bd-tr-radius\:8{ 
    border-top-right-radius: var(--border-radius-8) !important; 
}

.border-top-right-radius\:9,
.bd-tr-radius\:9{ 
    border-top-right-radius: var(--border-radius-9) !important; 
}

.border-top-right-radius\:10,
.bd-tr-radius\:10{ 
    border-top-right-radius: var(--border-radius-10) !important; 
}

.border-top-right-radius\:11,
.bd-tr-radius\:11{ 
    border-top-right-radius: var(--border-radius-11) !important; 
}

.border-top-right-radius\:12,
.bd-tr-radius\:12{ 
    border-top-right-radius: var(--border-radius-12) !important; 
}


/* border-bottom-right-radius */
.border-bottom-right-radius\:5,
.bd-br-radius\:5{ 
    border-bottom-right-radius: var(--border-radius-5) !important; 
}

.border-bottom-right-radius\:6,
.bd-br-radius\:6{ 
    border-bottom-right-radius: var(--border-radius-6) !important; 
}

.border-bottom-right-radius\:7,
.bd-br-radius\:7{ 
    border-bottom-right-radius: var(--border-radius-7) !important; 
}

.border-bottom-right-radius\:8,
.bd-br-radius\:8{ 
    border-bottom-right-radius: var(--border-radius-8) !important; 
}

.border-bottom-right-radius\:9,
.bd-br-radius\:9{ 
    border-bottom-right-radius: var(--border-radius-9) !important; 
}

.border-bottom-right-radius\:10,
.bd-br-radius\:10{ 
    border-bottom-right-radius: var(--border-radius-10) !important; 
}

.border-bottom-right-radius\:11,
.bd-br-radius\:11{ 
    border-bottom-right-radius: var(--border-radius-11) !important; 
}

.border-bottom-right-radius\:12,
.bd-br-radius\:12{ 
    border-bottom-right-radius: var(--border-radius-12) !important; 
}