.color\:main-4{
    color: var(--color-main-4) !important;
}

.color\:main-5{
    color: var(--color-main-5) !important;
}

.color\:main-6{
    color: var(--color-main-6) !important;
}




.color\:sub-1{
    color: var(--color-sub-1) !important;
}
 
.color\:sub-4{
    color: var(--color-sub-4) !important;
}

.color\:sub-5{
    color: var(--color-sub-5) !important;
}

.color\:sub-6{
    color: var(--color-sub-6) !important;
}




