<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{inc/layout.html}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main
      layout:fragment="main"
      class="min-w:7 px:3 pb:10 md:pb:0 lg:pb:0"
      id="main"
    >
      <section>
        <h1>홈</h1>
        <div th:text="${email}">ewr</div>
        <div th:text="${role}">werew</div>
      </section>
    </main>
  </body>
</html>
