<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{inc/layout.html}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>위드북스</title>
    <script src="https://fastly.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <style>

      * {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;

        color: var(--color-base-9);
      }

      .search {
        --right-1: 6px;
        --top-1: 6px;
      }
      .click-none {
        pointer-events: none;
      }

      .debate-reg-transform{
          transform:     translate(-2px, 14px)
      }
    </style>
    <script src="/js/debate/reg.js" defer></script>
  </head>
  <body>
    <main layout:fragment="main">
      <section class="pb:4 pt:4 pl:4 pr:4">
        <h1 class="d:none">위드 토론 등록 페이지</h1>

        <form action="/debate/reg" class="" method="post">
          <input type="hidden" name="wid"  th:value="${param.wid}">
          <div class="d:flex jc:end">
            <button type="submit" id="btn" class="n-btn mt:3 bg-color:main-5">
              등록
            </button>
          </div>

          <h1 class="d:none">위드 등록 페이지</h1>
          <p class="fw:3 fs:5 mr:3 ml:3 mb:4 mb:8 px:2">
            <span class="font-size:7"> 뉴렉위드,</span><br />
            토론 방을 개설 해보세요 !
          </p>

          <section
            id="search-book-form"
            class="bd-radius:9 n-item n-item:shadow px:5 py:3 m:3"
          >
            <h1 class="pt:3 bd-bottom w:100p h:1 fw:3">📘 책 등록</h1>
            <div class="d:flex fl-dir:column ai:center">
              <div
                class="flex-grow:1 margin-right:1 al-self:stretch pos:relative"
              >

                  <input
                    class="search-query-input n-textbox n-textbox:outline txt-al:center bd-radius:4 input mt:4"
                    type="text"
                    placeholder="책 검색"
                  />
                  <button
                    class="query-input-btn search pos:absolute right:1 top:1 icon icon:magnifying_glass debate-reg-transform"
                    type="submit"
                  >
                    검색
                  </button>

              </div>
              <section class="my:4 book-list w:100p">
                <h1 class="d:none">검색된 책 리스트</h1>
                <ul class="n-list n-card-list content-ul"></ul>
              </section>
            </div>
          </section>
          <section class="bd-radius:9 px:5 py:3 m:3 n-item n-item:shadow ai:center">
            <h1 class="pt:3 bd-bottom w:100p h:1 fw:3">📅 토론일
            <span class="ml:4 fs:2 fw:2 color:main-5" id="debate-period"></span>
            </h1>


            <label>
              <div class="d:flex ai:center">
                <span class="mr:5">    예약일:</span>
                <input id="reserve-date" name="reserveDate"  class="n-textbox n-textbox-type:underline n-textbox-label:top w:2 placeholder-center text-align:center"  type="date">
              </div>
            </label>
            <label>
              <div class="d:flex ai:center d:none  deadline-box " >
                <span class="mr:5">     토론기한:</span>
                <input id="deadline" value="1" class="n-textbox n-textbox-type:underline n-textbox-label:top w:2 placeholder-center text-align:center" min="1" max="5" name="deadline"  type="number">
                <span> 일</span>
                <div class="personnel-alert color:accent-1 d:none">
                  최대 5일 까지 입력 가능합니다.
                </div>
              </div>
            </label>

          </section>

          <section class="bd-color:base-3 bd-radius:9 px:5 py:2 m:3 n-item n-item:shadow">
            <h1 class="pt:3 bd-bottom w:100p h:1 fw:3">🗒️ 공지사항</h1>
            <div class="mt:4">
              <textarea
                class="w:100p"
                placeholder="공지사항을 작성 하세요."
                name="notice"
                id=""
                th:maxlength="300"
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </section>

          <section
            class="bd-color:base-3 bd-radius:9 px:5 py:3 m:3 n-item n-item:shadow"
          >
            <h1 class="pt:3 bd-bottom w:100p h:1 fw:3"> 💡 토론주제
            <span class="ml:4 fs:2 fw:1 color:accent-1 topic-list-alert d:none">토론주제는 최대 3개 까지만 가능합니다.</span></h1>
            <span class="topic-list d:flex fl-dir:column ai:center">
              <span class="topic-input d:flex ai:center al-self:stretch">
                <div class="d:flex mt:4 flex-grow:1">
                  <input
                    type="text"
                    name="topic"
                    th:maxlength="30"
                    class="n-textbox w:100p mr:3 pl:2"
                    placeholder="최대 30자까지 토론 주제를 입력하세요."
                  />
<!--                  <button type="button" class=""><span class="del-btn icon icon:trash">삭제</span></button>-->
                  <button type="button" class=""><span class="add-btn icon icon:plus">추가</span></button>
                </div>
              </span>
            </span>
          </section>
        </form>
      </section>
    </main>
  </body>
</html>
