<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .w\:74 {
            width: 80px;
            height: 80px;
        }

        .item {
            background-color: #ECF0FE ;
        }
        .ho:hover{

        background-color: #8BA3F8;
        }

    </style>

    <script src="/js/shorts/bookreg.js"></script>
</head>

<body>
<main layout:fragment="main">

</main>
<div class="h:10 w:9 border border-radius:4 background-color:sub-1 px:3 py:3">
    <section class="d:flex h:2 pb:4  border-bottom ">
        <h1 class="d:none">책 정보</h1>
        <div class=" w:74  mr:2 ">
            <img src="/puppy2.png" alt="도둑맞은 집중력" class="w:100p h:100p  border-radius:2">
        </div>
        <div class="d:flex jc:center flex-direction:column gap:2">
            <div>
                <div class="fs:4 fw:3">도둑 맞은 집중력</div>
            </div>
            <div class="d:flex gap:1 jc:center ai:center">
                <div class="fs:2 fw:2 ">홍길동 </div>
                <div>-</div>
                <div class="fs:2 ">유노북스</div>
                <div>-</div>
                <div  class="fs:2 ">2023.12.12</div>
            </div>
            <div>16,000원</div>
        </div>

    </section>



<!-- <section class="d:flex h:2 pb:4  border-bottom ">
    <h1 class="d:none">책 정보</h1>
    <div class=" w:74  mr:2 ">
        <img src="/puppy2.png" alt="도둑맞은 집중력" class="w:100p h:100p  border-radius:2">
    </div>
    <div class="d:flex jc:center flex-direction:column gap:2">
        <div>
            <div class="fs:4 fw:3">도둑 맞은 집중력</div>
        </div>
        <div class="d:flex gap:1 jc:center ai:center">
            <div class="fs:2 fw:2 ">홍길동 </div>
            <div>-</div>
            <div class="fs:2 ">유노북스</div>
            <div>-</div>
            <div  class="fs:2 ">2023.12.12</div>
        </div>
        <div>16,000원</div>
    </div>

</section> -->


<!-- <section class="d:flex h:2 pb:4  border-bottom ">
    <h1 class="d:none">책 정보</h1>
    <div class=" w:74  mr:2 ">
        <img src="/puppy2.png" alt="도둑맞은 집중력" class="w:100p h:100p  border-radius:2">
    </div>
    <div class="d:flex jc:center flex-direction:column gap:2">
        <div>
            <div class="fs:4 fw:3">도둑 맞은 집중력</div>
        </div>
        <div class="d:flex gap:1 jc:center ai:center">
            <div class="fs:2 fw:2 ">홍길동 </div>
            <div>-</div>
            <div class="fs:2 ">유노북스</div>
            <div>-</div>
            <div  class="fs:2 ">2023.12.12</div>
        </div>
        <div>16,000원</div>
    </div>

</section> -->
<!-- <div>
    <a class="h:1 w:1 border d:inline-block">1</a>
    <a>2</a>
    <a>3</a>
    <a>4</a>
    <a>5</a>
</div>
</div> -->

</body>

</html>