<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{inc/layout.html}"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.44/dist/style.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/var.css" />
    <link rel="stylesheet" type="text/css" href="/css/withtil.css" />
    <link
            rel="stylesheet"
            type="text/css"
            href="/css/util/border-radius.css"
    />
    <style>
        #main{
            --gap-10: 62px;
        }

        .shorts > div {
            --height-1: 40px;
            --width-1: 32px;
        }

        .pager {
            --height-1: 4px;
        }



        /*모달창 위치 옮기기 */
        .transform-x{

            transform: translateX(-122px);
        }

        /* 이미지 슬라이드 효과*/
        .transition-transform{
            transition: transform 0.8s;

        }

        /* 이미지 페이징 효과  */

        .transition-background{
            transition: background-color 0.6s;
        }

        .box-shadow-custom{
            box-shadow: 2px 4px 14px 0 rgba(157,157,157,8%);
        }

        article p  span{
            line-height: 1.75;
        }
    </style>

    <script src="/js/shorts/list.js"></script>
</head>

<body>
<!--gap 오버라이딩 필요 스마트폰 pb 있고, 테블릿 pc 업게 하기 -->
<main layout:fragment="main" class="min-w:7 px:3 pb:10 md:pb:0 lg:pb:0" id="main">
    <section class="bd bd-color:base-3 bd-radius:8 px:3 py:4 mt:6 lg:pos:relative">
        <h1 class="d:none">북쇼츠</h1>

        <span class="lg:d:flex lg:ai:start gap:2">
                    <span>
                        <section class="shorts d:flex jc:center ai:center px:1">
                            <h1 class="d:none">북쇼츠 작성관련 정보</h1>
                            <div class="h:1 w:1 border-radius:full of:hidden">
                                <img
                                        class="obj-fit:contain h:10p w:10p"
                                        src="/image/shorts/profile.png"
                                        alt="프로필사진"
                                />
                            </div>
                            <span class="d:flex ai:center ml:1 d">


                                <div>
                                    <a
                                            href=""
                                            class="font-size:2 font-weight:3 ml:1"
                                    >뉴렉이</a
                                    >
                                </div>
                                <div
                                        class="as:end font-size:1 color:base-4 ml:1"
                                >
                                    10분 전
                                </div>

                            </span>


                            <div class="ml:auto">
                                <a href="" class="font-size:1 color:base-4"
                                >도둑맞은 집중력</a
                                >
                            </div>
                        </section>

                         <section class="d:flex jc:end">
                            <h1 class="d:none">북쇼츠 팝업버튼</h1>
                            <div class="n-dropdown">
                                <button
                                        class="icon icon:dots_three_outline_vertical_fill  my:3 dropdown-btn" id=""
                                >점점점</button
                                >

                                 <ul class="dropdown-list">
                                     <li>
                                         <button>
                                            <span class="va:middle deco deco-size:2 icon:pencil_simple">
                                              수정하기
                                            </span>
                                         </button>
                                     </li>
                                          <li>
                                         <button>
                                            <span class="va:middle deco deco-size:2 deco-color:accent-2 icon:share_fat color:accent-2"
                                            > 공유하기
                                            </span>
                                         </button>
                                     </li>
                                     <li>
                                         <button>
                                            <span class="va:middle deco deco-size:2 deco-color:accent-2 icon:trash color:accent-2">
                                              삭제하기
                                            </span>
                                         </button>
                                     </li>

                                 </ul>
                            </div>
                        </section>

                        <article class=" max-h:8">
                            <h1 class="d:none">북쇼츠 본문</h1>
                            <p class="ml:2 mr:2 ln-h:2 fs:2">
                                모든 국민은 그 보호하는 자녀에게 적어도
                                초등교육과 법률이 정하는 교육을 받게 할 의무를
                                진다. 군인·군무원·경찰공무원 기타 법률이 정하는
                                자가 전투·훈련등 직무집행과 관련하여 받은 손해에
                                대하여는 법률이 정하는 보상외에 국가 또는
                                공공단체에 공무원의 직무상 불법행위로 인한
                                배상은 청구할 수 없다.<br /><br />

                                모든 국민은 헌법과 법률이 정한 법관에 의하여
                                법률에 의한 재판을 받을 권리를 가진다. 대통령의
                                선거에 관한 사항은 법률로 정한다. 헌법개정은
                                국회재적의원 과반수 또는 대통령의 발의로
                                제안된다.<br /><br />

                                대한민국은 국제평화의 유지에 노력하고 침략적
                                전쟁을 부인한다. 모든 국민은 거주·이전의 자유를
                                가진다. 국무총리는 국무위원의 해임을 대통령에게
                                건의할 수 있다.<br /><br />

                                대통령은 전시·사변 또는 이에 준하는
                                국가비상사태에 있어서 병력으로써 군사상의 필요에
                                응하거나 공공의 안녕질서를 유지할 필요가 있을
                                때에는 법률이 정하는 바에 의하여 계엄을 선포할
                                수 있다.<br /><br />
                            </p>
                        </article>
                    </span>

                    <section
                            class="d:flex fl-dir:column ai:center my:5 lg:my:0 lg:order:1 lg:mr:6 "
                    >
                        <h1 class="d:none">북쇼츠 본문 이미지</h1>
                        <div class="h:8 w:8 lg:w:6 mb:1">
                            <img
                                    src="/image/shorts/uie.jpg"
                                    alt="본문 이미지"
                                    class="h:10p w:10p bd-radius:1"
                            />
                        </div>
                        <section class="pager as:stretch ">
                            <h1 class="d:none">이미지 페이저</h1>
                            <ul class="d:flex of:hidden">
                                <li
                                        class="bd-radius:2 fl-grow:1 bg-color:base-4 h:1"
                                >
                                    1
                                </li>
                                <li
                                        class="bd-radius:2 fl-grow:1 bg-color:base-7 ml:2 h:1"
                                >
                                    2
                                </li>
                                <li
                                        class="bd-radius:2 fl-grow:1 bg-color:base-4 ml:2 h:1"
                                >
                                    3
                                </li>
                            </ul>
                        </section>
                    </section>
                </span>

        <section class="d:flex ai:center jc:end mr:2 mt:5">
            <h1 class="d:none">댓글/좋아요 버튼</h1>
            <div class="d:flex fl-dir:column ai:center">
                <div class="icon icon:chats"><a href="" data-cmt-id="${list.commentId}"></a></div>
                <div class="fs:2 fw:3">132</div>
            </div>
            <div class="d:flex fl-dir:column ai:center ml:5">
                <div class="icon icon:heart"></div>
                <div class="fs:2 fw:3">50.2M</div>
            </div>
        </section>
    </section>


    <section
            class="bd bd-color:base-3 box-shadow-custom bd-radius:6 px:3 py:4 mt:6 short-section  lg:pos:relative"
            th:each="s : ${list}"
    >

        <h1 class="d:none">북쇼츠</h1>
        <div class="d:none shorts" th:text="${s.id}"  >id</div>

        <span class="lg:d:flex lg:ai:start gap:2" >
                    <span class="d:block w:100p">
                        <section  class="shorts d:flex jc:center ai:center px:1 "  >
                            <h1 class="d:none">북쇼츠 작성관련 정보</h1>
                            <div class="h:1 w:1 border-radius:full of:hidden">
                                <img
                                        class="obj-fit:contain h:10p w:10p"
                                        src="/image/shorts/profile.png" th:src="@{|/image/shorts/${s.userImg}|}"
                                        alt="프로필사진"
                                />
                            </div>

                            <span class="d:flex  ml:1 flex-direction:column	">
                                <div>
                                    <a
                                            href=""
                                            class="font-size:2 font-weight:3 ml:1" th:text="${s.userNickname}"
                                    >뉴렉이</a
                                    >
                                </div>
                                <div
                                        class="as:end font-size:1 color:base-4 ml:1" th:text="${s.regDate}"
                                >
                                    10분 전
                                </div>
                            </span>
                            <div class="ml:auto">
                                <a href="" class="font-size:1 color:base-4" th:text="${s.bookTitle}" th:href="@{/book/detail(id=${s.bookId})}"
                                >도둑맞은 집중력</a
                                >
                            </div>
                        </section>

                        <section class="d:flex jc:end mt:3">
                            <h1 class="d:none">북쇼츠 팝업버튼</h1>
                            <div class="n-dropdown">
                                <button
                                        class="icon icon:dots_three_outline_vertical_fill   cursor:pointer	 dropdown-btn"
                                ></button
                                >
                                <ul class="dropdown-list	">
                                     <li>
                                         <button>
                                            <span class="va:middle deco deco-size:2 icon:pencil_simple">
                                              수정하기
                                            </span>
                                         </button>
                                     </li>
                                      <li>
                                         <button>
                                            <span class="va:middle deco deco-size:2  icon:share_fat "
                                            > 공유하기
                                            </span>
                                         </button>
                                     </li>
                                     <li>
                                         <button>
                                            <span class="va:middle deco deco-size:2 deco-color:accent-2 icon:trash color:accent-2">
                                              삭제하기
                                            </span>
                                         </button>
                                     </li>

                                 </ul>
                            </div>

                        </section>
                        <!--                        글이 길어지면 박스가 같이 늘어나지 않아 일단 -->
                        <article class="h:max-content	">
                            <h1 class="d:none">북쇼츠 본문</h1>
                            <p
                                    class="ml:2 mr:2 ln-h:2 fs:2"
                                    th:utext="${s.content}"
                            >
                                모든 국민은 그 보호하는 자녀에게 적어도
                                초등교육과 법률이 정하는 교육을 받게 할 의무를
                                진다. 군인·군무원·경찰공무원 기타 법률이 정하는
                                자가 전투·훈련등 직무집행과 관련하여 받은 손해에
                                대하여는 법률이 정하는 보상외에 국가 또는
                                공공단체에 공무원의 직무상 불법행위로 인한
                                배상은 청구할 수 없다.<br /><br />

                                모든 국민은 헌법과 법률이 정한 법관에 의하여
                                법률에 의한 재판을 받을 권리를 가진다. 대통령의
                                선거에 관한 사항은 법률로 정한다. 헌법개정은
                                국회재적의원 과반수 또는 대통령의 발의로
                                제안된다.<br /><br />

                                대한민국은 국제평화의 유지에 노력하고 침략적
                                전쟁을 부인한다. 모든 국민은 거주·이전의 자유를
                                가진다. 국무총리는 국무위원의 해임을 대통령에게
                                건의할 수 있다.<br /><br />

                                대통령은 전시·사변 또는 이에 준하는
                                국가비상사태에 있어서 병력으로써 군사상의 필요에
                                응하거나 공공의 안녕질서를 유지할 필요가 있을
                                때에는 법률이 정하는 바에 의하여 계엄을 선포할
                                수 있다.<br /><br />
                            </p>
                        </article>
                    </span>

                    <section
                            class="fl-dir:column ai:center my:5 lg:my:0 lg:order:1 lg:mr:6 img-section gap:2" th:if="${s.img}"
                     >
                        <h1 class="d:none">북쇼츠 본문 이미지</h1>

                        <div class="d:flex fl-dir:column h:7 w:7 ">
                            <div class="slide w:7 h:7 of:hidden	pos:relative">
                                <div class="  img-list transition-transform images d:inline-flex position:relative">
                                    <img  th:each="i : ${s.img}"
                                            src="/image/shorts/마흔에%20읽는%20쇼펜하우어.PNG"
                                            alt="본문 이미지"
                                            class="w:7 h:7 bd-radius:1 pb:1 object-fit:contain		"

                                            th:src="'/image/shorts/' + ${i}" />
                                </div>

                            <button class="back position:absolute cursor:pointer 	icon icon:arrow_left w:1 h:1  border-radius:full   icon-color:sub-1 bg-color:base-3  top:1  left:0" th:if="${s.img.size > 1}" >이전</button>
                                <button class="next  position:absolute  cursor:pointer	icon icon:arrow_right  w:1 h:1  border-radius:full   icon-color:sub-1 bg-color:base-3  top:1 right:0" th:if="${s.img.size > 1}">다음</button>
                            </div>
                            <section class="pager as:stretch mt:1">
                                <h1 class="d:none">이미지 페이저</h1>
                                <ul class="d:flex of:hidden img-paging gap:1" th:if="${s.img.size > 1}">

                                <li th:each="img : ${s.img}"
                                    class="bd-radius:2 transition-background fl-grow:1   h:1" th:classappend="${imgStat.index} > 0 ? 'ml:2 bg-color:main-3' : 'bg-color:main-5'">
                                </li>

                                </ul>
                            </section>
                        </div>
                    </section>
                </span>

        <section class="d:flex ai:center jc:end mr:2 mt:4">
            <h1 class="d:none">댓글/좋아요 버튼</h1>
            <div class="d:flex fl-dir:column ai:center">
                <div class="icon icon:chats comment-btn cursor:pointer	" th:data-shorts-id="${s.id}"></div>
                <div class="fs:2 fw:3 count-comment" th:text="${s.commentCnt}">
                    132
                </div>
            </div>
            <div class="d:flex fl-dir:column ai:center ml:5">
                <div class="icon icon:heart cursor:pointer	"></div>
                <div class="fs:2 fw:3" th:text="${s.likeCnt}">
                    50.2M
                </div>
            </div>

        </section>


        <section
                class="comment-group  box-shadow-custom	 d:none h:auto  d:flex fl-dir:column  bd-radius:6  p:3  lg:pos:absolute	 lg:bottom:0 lg:right:-5 lg:border lg:w:7  zi:4	"
        >
        <h1 class="d:none">북쇼츠 댓글</h1>
            <div class="	ml:auto icon icon:x cursor:pointer	 comment-close "></div>
            <div class="comments color-base-9 ">
            </div>

            <section class="d:flex jc:center mt:4">
                <h1 class="d:none">댓글 페이저1</h1>
                <ul class="n-pager">
                    <li class="active"><a>1</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                </ul>
            </section>
            <div>
                <form class="d:flex mt:2 ai:center" method="post">


                    <textarea type="text" required class="comment-content px:1 py:1 n-textbox mr:2"  name="comment-content" placeholder="댓글을 입력하세요 ! "></textarea>

                    <button type="button" class="n-btn n-btn-color:main comment-reg">등록</button>
                </form>
            </div>
        </section>
    </section>
    <section>
        <h1 class="d:none">플로팅버튼</h1>
        <a
                href="/shorts/reg"
                class="icon icon:plus icon-color:sub-1 bg-color:main-5  pos:fixed bottom:2 right:2 icon-size:5 border-radius:full h:1 w:1 zi:5"
        ></a>
        <a
                href="#main"
                class="icon icon:arrow_up icon-color:sub-1 bg-color:main-5 pos:fixed bottom:2 right:1 icon-size:5 border-radius:full h:1 w:1 zi:5"
        ></a>
    </section>
</main>
</body>
</html>
